Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
  caddy-custom:build: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-custom:deploy: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-manager:build: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  caddy-manager:deploy: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  message-service:build: any of: jinear-message-service/**/*, .gitlab-ci.yml
  message-service:deploy: any of: jinear-message-service/**/*, .gitlab-ci.yml
  pages:build: any of: jinear-pages/**/*, .gitlab-ci.yml

feature/jin-542 Refactor logging setup by removing Axiom transport and enhancing error handling in socket operations
  jinear-core/src/main/java/co/jinear/core/service/client/messageapi/RestMessageApiClient.java
  jinear-message-service/dist/index.js
  jinear-message-service/dist/index.js.map
  jinear-message-service/src/index.ts
Due: core:build, core:deploy, message-service:build, message-service:deploy

feature/jin-542 Enhance database backup script with improved logging, environment variable handling, and backup retention management
  example/docker-compose.yaml
  jinear-core/jinear-core.ts
  jinear-core/pom.xml
  jinear-core/src/main/java/co/jinear/core/config/WebConfig.java
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/db-backup.sh
  jinear-installation-scripts/templates/docker-compose.yaml
  jinear-web/components/calendar/calendarUtils.ts
  jinear-web/components/calendar/twoDayView/TwoDayView.tsx
  jinear-web/components/workspaceFilesPage/WorkspaceFilesPage.tsx
  jinear-web/components/workspaceFilesPage/materialListView/MaterialListView.tsx
  jinear-web/components/workspaceFilesPage/materialListView/materialViewRow/MaterialViewRow.tsx
  jinear-web/store/api/taskApi.ts
  jinear-web/utils/constants.ts
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-542 Enhance database backup script with environment variable support, improved logging, and cron job setup
  example/.config/db-backup.sh
  jinear-installation-scripts/templates/db-backup.sh
Due: none

feature/jin-542 Update README.md for improved formatting and additional architecture details
  README.md
Due: none

feature/jin-542 Add Caddy configuration and Docker setup for Jinear services
  README.md
  docs/behind-traefik/README.md
  docs/behind-traefik/jinear/Caddyfile
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/behind-traefik/traefik/docker-compose.yaml
  docs/behind-traefik/traefik/dynamic.yaml
  docs/example/.config/Caddyfile
  docs/example/.config/application.properties
  docs/example/.config/db-backup.sh
  docs/example/.config/gcloud-serviceaccount.json
  docs/example/docker-compose.yaml
Due: none

feature/jin-542 Reorganize configuration and deployment files to project root and update README manual setup path
  README.md
  docs/manual-setup/.config/Caddyfile
  docs/manual-setup/.config/application.properties
  docs/manual-setup/.config/db-backup.sh
  docs/manual-setup/.config/gcloud-serviceaccount.json
  docs/manual-setup/docker-compose.yaml
Due: none

feature/jin-542 Update README.md with instructions for running behind Traefik
  README.md
Due: none

feature/jin-542 Comment out insecure Traefik API flag in docker-compose and clarify usage in README
  docs/behind-traefik/README.md
  docs/behind-traefik/traefik/docker-compose.yaml
Due: none

Update README.md with new features and add feature image for enhanced project overview
  README.md
Due: none

Add video walkthrough link to Quick Install section in README
  README.md
Due: none

Refactor Redis key handling by introducing RedisKeyGenerator and RedisPrefixedKeySerializer; update application properties for key prefix configuration
  docs/manual-setup/.config/application.properties
  jinear-core/src/main/java/co/jinear/core/config/RedisConfiguration.java
  jinear-core/src/main/java/co/jinear/core/config/RedisPrefixedKeySerializer.java
  jinear-core/src/main/java/co/jinear/core/service/lock/LockService.java
  jinear-core/src/main/java/co/jinear/core/service/lock/RedisKeyGenerator.java
  jinear-core/src/main/java/co/jinear/core/system/RedisKeyHelper.java
  jinear-installation-scripts/templates/application.properties.template
Due: core:build, core:deploy

Implement rate limiting feature with Redis integration; add RateLimitPlan enum, RateLimitService, and RateLimitingFilter
  jinear-core/pom.xml
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/service/captcha/CaptchaChallengeService.java
  jinear-core/src/main/java/co/jinear/core/system/IpResolver.java
  jinear-shared-libs/README.md
  jinear-shared-libs/jinear-rate-limiter/pom.xml
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/config/RateLimitProperties.java
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/config/RateLimiterAutoConfiguration.java
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/filter/RateLimitingFilter.java
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/model/RateLimitPlan.java
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/resolver/ClientIpResolver.java
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/resolver/DefaultClientIpResolver.java
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/service/RateLimitService.java
  jinear-shared-libs/jinear-rate-limiter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Due: core:build, core:deploy

feature/jin-545 Add CI configuration for rate limiter build and update Maven settings for GitLab Package Registry
  .gitlab-ci.yml
  jinear-core/Dockerfile
  jinear-core/pom.xml
  jinear-shared-libs/jinear-rate-limiter/pom.xml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-545 Update README.md to reflect configuration changes for rate limiting in application.properties
  jinear-shared-libs/README.md
Due: none

Update jinear-rate-limiter dependency version to 0.1.1658 in pom.xml
  jinear-core/pom.xml
Due: core:build, core:deploy

Refactor RobotsMessageOperationManager by removing unused imports and optimizing code structure
  jinear-core/src/main/java/co/jinear/core/manager/messaging/RobotsMessageOperationManager.java
Due: core:build, core:deploy

feature/jin-546 Implement Sign In with Apple feature, including authentication strategy, request handling, and database integration
  jinear-core/src/main/java/co/jinear/core/config/client/apple/SignInWithAppleConfig.java
  jinear-core/src/main/java/co/jinear/core/config/properties/FeProperties.java
  jinear-core/src/main/java/co/jinear/core/config/properties/SignInWithAppleProperties.java
  jinear-core/src/main/java/co/jinear/core/controller/auth/AuthController.java
  jinear-core/src/main/java/co/jinear/core/controller/oauth/GoogleOAuthCallbackController.java
  jinear-core/src/main/java/co/jinear/core/converter/account/IdTokenPayloadToAppleUserConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/auth/LoginManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/GoogleOAuthCallbackManager.java
  jinear-core/src/main/java/co/jinear/core/model/entity/account/AppleUser.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/auth/ProviderType.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/passive/PassiveReason.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/token/TokenType.java
  jinear-core/src/main/java/co/jinear/core/model/request/auth/LoginWithAppleRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/auth/SingleUseTokenLoginRequest.java
  jinear-core/src/main/java/co/jinear/core/model/vo/google/AttachAccountStateParameters.java
  jinear-core/src/main/java/co/jinear/core/repository/AppleUserRepository.java
  jinear-core/src/main/java/co/jinear/core/service/auth/AppleAuthenticationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/auth/SingleUseLoginTokenAuthenticationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/auth/apple/AppleUserOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/client/apple/SignInWithAppleCallerService.java
  jinear-core/src/main/java/co/jinear/core/service/client/apple/model/IdTokenPayload.java
  jinear-core/src/main/java/co/jinear/core/service/client/apple/model/TokenResponse.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.6.xml
Due: core:build, core:deploy

feature/jin-546 Add Sign In with Apple functionality, including button component, API integration, and configuration
  jinear-core/jinear-core.ts
  jinear-pages/model/be/jinear-core.ts
  jinear-web/components/form/loginWithMailForm/LoginWithMailForm.tsx
  jinear-web/components/form/registerWithMailForm/RegisterWithMailForm.tsx
  jinear-web/components/scripts/Scripts.tsx
  jinear-web/components/signInWithAppleButton/SignInWithAppleButton.tsx
  jinear-web/hooks/useFeatureFlag.ts
  jinear-web/locales/strings.js
  jinear-web/model/be/jinear-core.ts
  jinear-web/public/.well-known/apple-developer-domain-association.txt
  jinear-web/store/api/authApi.ts
  jinear-web/utils/constants.ts
Due: core:build, core:deploy, web:build, web:deploy, pages:build

feature/jin-546 Update CI configuration and Dockerfiles to use dependency proxy images for improved build consistency
  .gitlab-ci.yml
  jinear-caddy-custom/Dockerfile
  jinear-core/Dockerfile
  jinear-message-service/Dockerfile
  jinear-pages/Dockerfile
  jinear-web/Dockerfile
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-542 Fix Apple Sign In initialization check to include redirect URI validation
  jinear-web/components/scripts/Scripts.tsx
Due: web:build, web:deploy

feature/jin-546 Update CI configuration and Dockerfiles to use dependency proxy images for improved build consistency
  jinear-core/notes
Due: core:build, core:deploy

feature/jin-546 Add endpoints for Sign In with Apple and single-use token authentication
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
Due: core:build, core:deploy

feature/jin-546 Refactor Apple Sign In configuration and improve error handling in login process
  jinear-web/components/form/loginWithMailForm/LoginWithMailForm.tsx
  jinear-web/components/scripts/Scripts.tsx
  jinear-web/components/signInWithAppleButton/SignInWithAppleButton.tsx
  jinear-web/utils/constants.ts
Due: web:build, web:deploy

feature/jin-546 Add configuration for Sign In with Apple in environment and Docker setup
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/templates/application.properties.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-546 Add Apple Sign In configuration to application properties and Docker setup
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/manual-setup/.config/application.properties
  docs/manual-setup/docker-compose.yaml
Due: none

feature/jin-547: Enhance homepage layout and add new sections for social proof, compliance, and open source information
  jinear-web/app/index.module.scss
  jinear-web/app/page.tsx
  jinear-web/app/pricing/page.tsx
  jinear-web/components/homepage/bottomCta/BottomCta.module.scss
  jinear-web/components/homepage/bottomCta/BottomCta.tsx
  jinear-web/components/homepage/callToActionBar/CallToActionBar.module.scss
  jinear-web/components/homepage/callToActionBar/CallToActionBar.tsx
  jinear-web/components/homepage/comparisonSection/ComparisonSection.module.scss
  jinear-web/components/homepage/comparisonSection/ComparisonSection.tsx
  jinear-web/components/homepage/complianceSection/ComplianceSection.module.scss
  jinear-web/components/homepage/complianceSection/ComplianceSection.tsx
  jinear-web/components/homepage/featureCard/FeatureCard.module.scss
  jinear-web/components/homepage/featureCard/FeatureCard.tsx
  jinear-web/components/homepage/footer/Footer.module.css
  jinear-web/components/homepage/footer/Footer.tsx
  jinear-web/components/homepage/hero/Hero.module.scss
  jinear-web/components/homepage/heroFeatures/HeroFeatures.module.css
  jinear-web/components/homepage/heroFeatures/HeroFeatures.tsx
  jinear-web/components/homepage/heroFeatures/heroFeatureColumn/HeroFeatureColumn.module.css
  jinear-web/components/homepage/heroFeatures/heroFeatureColumn/HeroFeatureColumn.tsx
  jinear-web/components/homepage/macTerminal/MacTerminal.module.scss
  jinear-web/components/homepage/macTerminal/MacTerminal.tsx
  jinear-web/components/homepage/navbar/HomePageNavbar.tsx
  jinear-web/components/homepage/openSourceSection/OpenSourceSection.module.scss
  jinear-web/components/homepage/openSourceSection/OpenSourceSection.tsx
  jinear-web/components/homepage/problemBar/ProblemBar.module.scss
  jinear-web/components/homepage/problemBar/ProblemBar.tsx
  jinear-web/components/homepage/selfHostHero/SelfHostHero.module.scss
  jinear-web/components/homepage/selfHostHero/SelfHostHero.tsx
  jinear-web/components/homepage/socialProofBar/SocialProofBar.module.scss
  jinear-web/components/homepage/socialProofBar/SocialProofBar.tsx
  jinear-web/locales/strings.js
Due: web:build, web:deploy

feature/jin-547: Update open source section text for clarity and transparency
  jinear-web/locales/strings.js
Due: web:build, web:deploy

feature/jin-547: Refactor Google OAuth login process and improve error handling
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/controller/oauth/GoogleOAuthCallbackController.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/GoogleOAuthCallbackManager.java
  jinear-core/src/main/java/co/jinear/core/model/vo/google/AttachAccountStateParameters.java
Due: core:build, core:deploy

feature/jin-547: Add internal workspace controllers and manager for workspace retrieval and tier updates
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/controller/workspace/InternalWorkspaceController.java
  jinear-core/src/main/java/co/jinear/core/controller/workspace/InternalWorkspaceTierController.java
  jinear-core/src/main/java/co/jinear/core/manager/workspace/WorkspaceManager.java
  jinear-core/src/main/java/co/jinear/core/manager/workspace/WorkspaceTierManager.java
Due: core:build, core:deploy

feature/jin-547: Implement internal account retrieval endpoint and refactor session ID handling
  jinear-core/src/main/java/co/jinear/core/controller/account/InternalAccountController.java
  jinear-core/src/main/java/co/jinear/core/manager/account/AccountManager.java
Due: core:build, core:deploy

feature/jin-547: Implement media initialization from URL and enhance media handling
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/controller/media/InternalMediaController.java
  jinear-core/src/main/java/co/jinear/core/controller/workspace/InternalWorkspaceController.java
  jinear-core/src/main/java/co/jinear/core/converter/media/MediaEntityConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/media/InternalMediaManager.java
  jinear-core/src/main/java/co/jinear/core/manager/workspace/WorkspaceManager.java
  jinear-core/src/main/java/co/jinear/core/model/request/media/InternalMediaInitializeFromUrlRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/media/InternalMediaInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/media/InternalMediaInitializeResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/workspace/AccountWorkspacesResponse.java
  jinear-core/src/main/java/co/jinear/core/service/media/MediaOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/GoogleCloudStorageMediaFileOperationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/MediaFileOperationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/MinIOMediaFileOperationStrategy.java
  jinear-core/src/main/java/co/jinear/core/system/gcloud/storage/CloudStorage.java
  jinear-core/src/main/java/co/jinear/core/system/util/ContentTypeFinder.java
  jinear-core/src/main/java/co/jinear/core/system/util/UrlContentInfo.java
Due: core:build, core:deploy

feature/jin-547: Add batch media retrieval request and response models, and implement batch retrieval endpoint
  jinear-core/src/main/java/co/jinear/core/controller/media/InternalMediaController.java
  jinear-core/src/main/java/co/jinear/core/manager/media/InternalMediaManager.java
  jinear-core/src/main/java/co/jinear/core/model/request/media/InternalBatchMediaRetrieveRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/media/InternalBatchMediaRetrieveResponse.java
  jinear-core/src/main/java/co/jinear/core/repository/MediaRepository.java
  jinear-core/src/main/java/co/jinear/core/service/media/MediaRetrieveService.java
Due: core:build, core:deploy

feature/jin-547: Enhance media handling by adding visibility parameter to save methods and introducing new media types
  jinear-core/src/main/java/co/jinear/core/model/enumtype/media/FileType.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/media/MediaOwnerType.java
  jinear-core/src/main/java/co/jinear/core/service/media/MediaOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/GoogleCloudStorageMediaFileOperationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/MediaFileOperationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/MinIOMediaFileOperationStrategy.java
Due: core:build, core:deploy

feature/jin-547: Add mobile login redirect endpoint and request model for OAuth
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/controller/oauth/GoogleOAuthRedirectInfoController.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/GoogleOAuthRedirectInfoManager.java
  jinear-core/src/main/java/co/jinear/core/model/request/oauth/RetrieveMobileLoginRedirectInfoRequest.java
  jinear-core/src/main/java/co/jinear/core/service/google/GoogleRedirectInfoService.java
Due: core:build, core:deploy

feature/jin-547
  jinear-core/jinear-core.ts
  jinear-core/pom.xml
Due: core:build, core:deploy

feature/jin-547: Update media upload handling to accept JSON metadata and modify Google login URL scopes
  jinear-core/src/main/java/co/jinear/core/controller/media/InternalMediaController.java
  jinear-core/src/main/java/co/jinear/core/manager/media/InternalMediaManager.java
  jinear-core/src/main/java/co/jinear/core/service/google/GoogleRedirectInfoService.java
Due: core:build, core:deploy

feature/jin-547: Enhance Apple authentication flow by adding web client support and updating payment processor product handling
  jinear-core/src/main/java/co/jinear/core/config/properties/GenericJinearProperties.java
  jinear-core/src/main/java/co/jinear/core/manager/auth/LoginManager.java
  jinear-core/src/main/java/co/jinear/core/model/request/auth/LoginWithAppleRequest.java
  jinear-core/src/main/java/co/jinear/core/model/vo/auth/AuthVo.java
  jinear-core/src/main/java/co/jinear/core/service/auth/AppleAuthenticationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/client/apple/SignInWithAppleCallerService.java
  jinear-core/src/main/java/co/jinear/core/service/client/paymentprocessor/PaymentProcessorClient.java
  jinear-core/src/main/java/co/jinear/core/service/client/paymentprocessor/PaymentProcessorFeignClient.java
  jinear-core/src/main/java/co/jinear/core/service/client/paymentprocessor/PaymentProcessorMockClient.java
  jinear-core/src/main/java/co/jinear/core/service/client/paymentprocessor/model/dto/subscription/SubscriptionDto.java
  jinear-core/src/main/java/co/jinear/core/service/payments/PaymentsOperationService.java
Due: core:build, core:deploy

feature/jin-547: Add exception for internal requests in rate limiting filter
  jinear-shared-libs/jinear-rate-limiter/src/main/java/co/jinear/ratelimiter/filter/RateLimitingFilter.java
Due: none

feature/jin-547: Update jinear-rate-limiter dependency version to 0.1.1665
  jinear-core/pom.xml
Due: core:build, core:deploy

feature/jin-547: Add PADDLE_VENDOR_ID constant for dynamic vendor configuration
  jinear-web/components/scripts/Scripts.tsx
  jinear-web/utils/constants.ts
Due: web:build, web:deploy
