Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
  caddy-custom:build: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-custom:deploy: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-manager:build: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  caddy-manager:deploy: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  message-service:build: any of: jinear-message-service/**/*, .gitlab-ci.yml
  message-service:deploy: any of: jinear-message-service/**/*, .gitlab-ci.yml
  pages:build: any of: jinear-pages/**/*, .gitlab-ci.yml

feature/jin-552: Update images and metadata for enhanced notes and task management features
  jinear-site/app/HomeClient.tsx
Due: none

feature/jin-552: Implement Firebase notification handling and enhance browser notification preferences UI
  jinear-app/src/components/firebaseConfiguration/FirebaseConfigration.tsx
  jinear-app/src/components/modal/notificationPermissionModal/NotificationPermissionModal.tsx
  jinear-app/src/components/profile-screen/communicationPreferences/CommunicationPreferences.module.css
  jinear-app/src/components/profile-screen/communicationPreferences/CommunicationPreferences.tsx
  jinear-app/src/hooks/useLocalStorage.ts
  jinear-app/src/locales/strings.ts
  jinear-app/src/util/attachNotificationTarget.ts
  jinear-app/src/util/firebaseConfig.ts
  jinear-app/src/util/notificationPermission.ts
Due: none

feature/jin-552: Add IndexNow integration for sitemap submission and enhance SEO metadata
  .gitlab-ci.yml
  jinear-app/Caddyfile
  jinear-app/index.html
  jinear-app/public/robots.txt
  jinear-site/Caddyfile
  jinear-site/README.md
  jinear-site/app/blog/[slug]/page.tsx
  jinear-site/app/blog/page.tsx
  jinear-site/app/layout.tsx
  jinear-site/app/not-found.tsx
  jinear-site/app/page.tsx
  jinear-site/app/pricing/page.tsx
  jinear-site/app/terms/page.tsx
  jinear-site/package.json
  jinear-site/public/a8ee1f955b4c4073b45836d8b598e619.txt
  jinear-site/public/og.png
  jinear-site/scripts/indexnow.mjs
  jinear-site/scripts/og-image.html
  jinear-site/utils/seo.ts
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-552: Rename file
  jinear-site/public/a8ee1f955b4c4073b45836d8b598e619.txt
  jinear-site/public/c88d93b5841949218817b9afea5dc273.txt
Due: none

feature/jin-552: Rename file
  jinear-site/app/llms.txt/route.ts
  jinear-site/components/homepage/bareFooter/BareFooter.module.scss
  jinear-site/components/homepage/bareFooter/BareFooter.tsx
Due: none

feature/JIN-564: Update metadata and descriptions for consistency and clarity in project management context
  jinear-site/app/HomeClient.tsx
  jinear-site/app/blog/page.tsx
  jinear-site/app/blog/rss.xml/route.ts
  jinear-site/app/layout.tsx
  jinear-site/app/llms-full.txt/route.ts
  jinear-site/app/llms.txt/route.ts
  jinear-site/app/pricing/page.tsx
  jinear-site/lib/posts.ts
  jinear-site/utils/seo.ts
Due: none

feature/JIN-564: Update metadata and descriptions for consistency and clarity in project management context
  jinear-site/components/homepage/bareFooter/BareFooter.tsx
Due: none

feature/jin-561: Implement instance flag management for account operations and enhance related services
  jinear-app/src/model/be/jinear-core.ts
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/config/properties/GenericJinearProperties.java
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/config/startup/ManagementStartupRunner.java
  jinear-core/src/main/java/co/jinear/core/controller/management/AdminInstanceFlagOperationController.java
  jinear-core/src/main/java/co/jinear/core/controller/management/InstanceFlagListingController.java
  jinear-core/src/main/java/co/jinear/core/converter/management/InstanceFlagTypeConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/account/AccountPasswordManager.java
  jinear-core/src/main/java/co/jinear/core/manager/account/AccountRegisterManager.java
  jinear-core/src/main/java/co/jinear/core/manager/auth/LoginManager.java
  jinear-core/src/main/java/co/jinear/core/manager/management/InstanceFlagRetrieveManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/GoogleOAuthCallbackManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/GoogleOAuthRedirectInfoManager.java
  jinear-core/src/main/java/co/jinear/core/manager/workspace/WorkspaceManager.java
  jinear-core/src/main/java/co/jinear/core/model/entity/management/InstanceFlag.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/lock/LockSourceType.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/management/InstanceFlagType.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/InstanceFlagOperationRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/management/InstanceFlagListingResponse.java
  jinear-core/src/main/java/co/jinear/core/repository/AccountRoleRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/management/InstanceFlagRepository.java
  jinear-core/src/main/java/co/jinear/core/service/account/AccountRoleService.java
  jinear-core/src/main/java/co/jinear/core/service/account/ManagementAccountLockService.java
  jinear-core/src/main/java/co/jinear/core/service/account/ManagementAccountOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/management/InstanceFlagService.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v21.xml
Due: core:build, core:deploy

feature/jin-561: Add instance flag management and integrate with calendar features
  jinear-app/src/components/calendarSectionSideMenu/CalendarSectionSideMenu.tsx
  jinear-app/src/components/calendarSectionSideMenu/externalCalendarsList/ExternalCalendarsList.tsx
  jinear-app/src/components/form/forgotPasswordForm/ForgotPasswordForm.tsx
  jinear-app/src/components/form/login-with-mail-form/LoginWithMailForm.tsx
  jinear-app/src/components/form/registerWithMailForm/RegisterWithMailForm.tsx
  jinear-app/src/components/jinearPricingPlan/jinearFreePlan/JinearFreePlan.tsx
  jinear-app/src/components/modal/newCalendarIntegrationModal/NewCalendarIntegrationModal.tsx
  jinear-app/src/components/modal/newTaskModal/NewTaskModal.tsx
  jinear-app/src/components/workspaceInfoList/WorkspaceInfoList.tsx
  jinear-app/src/components/workspaceInvitationScreen/notLoggedInUserAfterInvitationAcceptedActions/NotLoggedInUserAfterInvitationAcceptedActions.tsx
  jinear-app/src/hooks/useInstanceFlag.ts
  jinear-app/src/pages/engage/reset-password-complete/page.tsx
  jinear-app/src/store/api/api.ts
  jinear-app/src/store/api/errorMiddleware.ts
  jinear-app/src/store/api/instanceFlagApi.ts
  jinear-core/src/main/java/co/jinear/core/service/account/ManagementAccountLockService.java
Due: core:build, core:deploy

feature/jin-561: Add admin instance settings layout and flags management
  jinear-app/src/App.tsx
  jinear-app/src/components/instanceSettingsScreen/instanceFlagsSection/InstanceFlagsSection.module.css
  jinear-app/src/components/instanceSettingsScreen/instanceFlagsSection/InstanceFlagsSection.tsx
  jinear-app/src/components/instanceSettingsSideMenu/InstanceSettingsSideMenu.module.scss
  jinear-app/src/components/instanceSettingsSideMenu/InstanceSettingsSideMenu.tsx
  jinear-app/src/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-app/src/components/profile-screen/settingsCheckbox/SettingsCheckbox.tsx
  jinear-app/src/hooks/useInstanceFlag.ts
  jinear-app/src/hooks/useIsInstanceAdmin.ts
  jinear-app/src/locales/strings.ts
  jinear-app/src/pages/admin/admin-layout/layout.module.scss
  jinear-app/src/pages/admin/admin-layout/layout.tsx
  jinear-app/src/pages/admin/instance-settings/general/page.module.css
  jinear-app/src/pages/admin/instance-settings/general/page.tsx
  jinear-app/src/store/api/adminInstanceFlagOperationApi.ts
  jinear-app/src/store/slice/accountSlice.ts
Due: none

feature/jin-561: Implement admin account management features including account creation, password updates, and retrieval of account and workspace memberships
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/controller/management/AdminAccountController.java
  jinear-core/src/main/java/co/jinear/core/controller/management/AdminTeamController.java
  jinear-core/src/main/java/co/jinear/core/controller/management/AdminWorkspaceController.java
  jinear-core/src/main/java/co/jinear/core/manager/management/AdminAccountManager.java
  jinear-core/src/main/java/co/jinear/core/manager/management/AdminTeamManager.java
  jinear-core/src/main/java/co/jinear/core/manager/management/AdminWorkspaceManager.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/AdminAccountCreateRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/AdminAccountPasswordUpdateRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/AdminTeamMemberAddRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/AdminTeamRenameRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/AdminWorkspaceInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/management/AdminWorkspaceMemberAddRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/management/AdminAccountListingResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/management/AdminWorkspaceListingResponse.java
  jinear-core/src/main/java/co/jinear/core/model/vo/account/AccountInitializeVo.java
  jinear-core/src/main/java/co/jinear/core/repository/AccountRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/TeamMemberRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/WorkspaceMemberRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/WorkspaceRepository.java
  jinear-core/src/main/java/co/jinear/core/service/account/AccountInitializeService.java
  jinear-core/src/main/java/co/jinear/core/service/account/AccountRetrieveService.java
  jinear-core/src/main/java/co/jinear/core/service/team/TeamDeleteService.java
  jinear-core/src/main/java/co/jinear/core/service/team/TeamUpdateService.java
  jinear-core/src/main/java/co/jinear/core/service/team/member/TeamMemberRetrieveService.java
  jinear-core/src/main/java/co/jinear/core/service/team/member/TeamMemberService.java
  jinear-core/src/main/java/co/jinear/core/service/workspace/WorkspaceDeleteService.java
  jinear-core/src/main/java/co/jinear/core/service/workspace/WorkspaceListingService.java
  jinear-core/src/main/java/co/jinear/core/service/workspace/member/WorkspaceMemberRetrieveService.java
  jinear-core/src/main/java/co/jinear/core/service/workspace/member/WorkspaceMemberService.java
  jinear-core/src/main/resources/i18n/messages_en.properties
  jinear-core/src/main/resources/i18n/messages_tr.properties
Due: core:build, core:deploy

feature/jin-561: Add admin account management request and response interfaces for account creation, password updates, and team management
  jinear-app/src/model/be/jinear-core.ts
  jinear-core/jinear-core.ts
Due: core:build, core:deploy

feature/jin-561: Add instance management configuration and admin account setup to installation scripts and documentation
  PROMPT_TEMPLATE.md
  README.md
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/manual-setup/.config/application.properties
  docs/manual-setup/docker-compose.yaml
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/application.properties.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-561: Add informational text for instance flag management in the admin interface
  PROMPT_TEMPLATE.md
  jinear-app/src/components/instanceSettingsScreen/instanceFlagsSection/InstanceFlagsSection.tsx
  jinear-app/src/locales/strings.ts
Due: none

feature/jin-561: Add guideline for using ASD-STE100 Simplified Technical English in documentation
  CLAUDE.md
Due: none

feature/jin-561: Update reporting guideline to use ASD-STE100 Simplified Technical English and add admin panel documentation
  CLAUDE.md
  jinear-site/content/blog/instance-settings-an-admin-panel-for-self-hosters.mdx
Due: none

feature/jin-562: Implement workflow status management with drag-and-drop reordering and addition functionality
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/TeamWorkflowSettings.tsx
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/WorkflowGroup.module.css
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/WorkflowGroup.tsx
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/addWorkflowStatus/AddWorkflowStatus.module.scss
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/addWorkflowStatus/AddWorkflowStatus.tsx
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/workflowStatus/WorkflowStatus.module.scss
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/workflowStatus/WorkflowStatus.tsx
  jinear-app/src/components/teamWorkflowStatusBoard/workflowStatusColumn/WorkflowStatusColumn.tsx
  jinear-app/src/components/teamWorkflowStatusBoard/workflowStatusColumn/statusBoardTaskCard/StatusBoardTaskCard.tsx
  jinear-app/src/locales/strings.ts
  jinear-app/src/model/be/jinear-core.ts
  jinear-app/src/store/api/teamWorkflowStatusApi.ts
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/controller/team/TeamWorkflowStatusController.java
  jinear-core/src/main/java/co/jinear/core/manager/team/TeamWorkflowStatusManager.java
  jinear-core/src/main/java/co/jinear/core/model/request/team/TeamWorkflowStatusReorderRequest.java
  jinear-core/src/main/java/co/jinear/core/service/team/workflow/TeamWorkflowStatusService.java
  jinear-core/src/main/resources/i18n/messages_en.properties
  jinear-core/src/main/resources/i18n/messages_tr.properties
Due: core:build, core:deploy

feature/jin-562: Remove unnecessary comments and clean up code in workflow status management components
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/TeamWorkflowSettings.tsx
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/WorkflowGroup.tsx
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/addWorkflowStatus/AddWorkflowStatus.tsx
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/workflowStatus/WorkflowStatus.module.scss
  jinear-app/src/components/teamSettingsScreen/teamWorkflowSettings/workflowGroup/workflowStatus/WorkflowStatus.tsx
  jinear-app/src/store/api/teamWorkflowStatusApi.ts
Due: none

feature/jin-562: Enhance task board layout with navigation panel and improve flag filtering logic
  jinear-app/src/components/taskLists/taskBoardList/TaskBoardList.module.css
  jinear-app/src/components/taskLists/taskBoardList/TaskBoardList.tsx
  jinear-core/src/main/java/co/jinear/core/service/management/InstanceFlagService.java
Due: core:build, core:deploy

feature/jin-562: Add Team Topics settings component with UI and localization support
  jinear-app/src/components/teamSettingsScreen/teamTopicSettings/TeamTopicSettings.module.scss
  jinear-app/src/components/teamSettingsScreen/teamTopicSettings/TeamTopicSettings.tsx
  jinear-app/src/locales/strings.ts
  jinear-app/src/pages/workspace/tasks/team-username/settings/page.tsx
  jinear-app/src/pages/workspace/tasks/team-username/topic/edit/topic-id/index.module.css
  jinear-app/src/pages/workspace/tasks/team-username/topic/list/index.module.css
Due: none

feature/jin-562: Refactor topic screens to use SectionTitle component and add descriptions for better context
  jinear-app/src/locales/strings.ts
  jinear-app/src/pages/workspace/tasks/team-username/topic/edit/topic-id/page.tsx
  jinear-app/src/pages/workspace/tasks/team-username/topic/list/page.tsx
  jinear-app/src/pages/workspace/tasks/team-username/topic/new/index.module.css
  jinear-app/src/pages/workspace/tasks/team-username/topic/new/page.tsx
Due: none

feature/jin-562: Add workflow statuses management screen with add, reorder, and delete functionality
  jinear-site/content/blog/workflow-statuses-add-your-own-drag-them-into-order.mdx
Due: none

feature/jin-562: Update blog styles to justify text alignment and remove max-width constraint
  jinear-site/app/blog/blog.module.scss
Due: none

poc-mcp: Remove outdated comments and documentation from various classes for clarity
  docs/mcp/IMPLEMENTATION.md
  docs/mcp/README.md
  jinear-core/src/main/java/co/jinear/core/config/properties/OauthProperties.java
  jinear-core/src/main/java/co/jinear/core/controller/oauth/provider/OauthAuthorizeController.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpManagementManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthAuthorizationManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthTokenManager.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthErrorMapper.java
  jinear-core/src/main/resources/i18n/messages_en.properties
  jinear-core/src/main/resources/i18n/messages_tr.properties
  jinear-core/src/test/java/co/jinear/core/mcp/McpServerInfoTest.java
  jinear-core/src/test/java/co/jinear/core/oauth/OauthAuthorizationGateTest.java
  jinear-core/src/test/resources/application-test.properties
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/application.properties.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: core:build, core:deploy

poc-mcp: Enhance OAuth functionality with request validation, retention management, and API improvements
  docs/behind-traefik/README.md
  docs/behind-traefik/jinear/Caddyfile
  docs/mcp/IMPLEMENTATION.md
  jinear-core/src/main/java/co/jinear/core/controller/oauth/provider/OauthConnectionController.java
  jinear-core/src/main/java/co/jinear/core/converter/oauth/OauthDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthAdminManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthAuthorizationManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthTokenManager.java
  jinear-core/src/main/java/co/jinear/core/manager/scheduledjob/ScheduledJobManager.java
  jinear-core/src/main/java/co/jinear/core/model/vo/oauth/OauthErrorVo.java
  jinear-core/src/main/java/co/jinear/core/repository/oauth/OauthClientRepository.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/analytics/McpRetentionService.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthAuthorizationRequestService.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthClientService.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthConnectionService.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthRetentionService.java
  jinear-core/src/main/java/co/jinear/core/validator/oauth/OauthAuthorizeRequestValidator.java
  jinear-core/src/test/java/co/jinear/core/oauth/OauthAuthorizationGateTest.java
  jinear-core/src/test/java/co/jinear/core/oauth/OauthAuthorizeRequestValidatorTest.java
  jinear-core/src/test/java/co/jinear/core/oauth/OauthClientRetentionTest.java
Due: core:build, core:deploy

poc-mcp: Add CODING_STYLE.md and apply the mechanical sweep
  CLAUDE.md
  CODING_STYLE.md
  jinear-core/src/main/java/co/jinear/core/controller/mcp/McpAdminController.java
  jinear-core/src/main/java/co/jinear/core/controller/mcp/McpManagementController.java
  jinear-core/src/main/java/co/jinear/core/controller/oauth/provider/OauthAdminController.java
  jinear-core/src/main/java/co/jinear/core/controller/oauth/provider/OauthAuthorizeController.java
  jinear-core/src/main/java/co/jinear/core/controller/oauth/provider/OauthConnectionController.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpAdminManager.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpManagementManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthAuthorizationManager.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthTokenManager.java
  jinear-core/src/main/java/co/jinear/core/model/mcp/McpJsonSchema.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/McpProtocolService.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/McpShapes.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/BoardMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/CalendarMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/CompatibilityMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/FileMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/NoteMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/TaskMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/tool/config/WorkspaceMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/CimdResolver.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthClientService.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpToolCatalogTest.java
  jinear-core/src/test/java/co/jinear/core/oauth/OauthAccessTokenResolverTest.java
  jinear-core/src/test/java/co/jinear/core/oauth/OauthTokenHelperTest.java
Due: core:build, core:deploy

poc-mcp: Refactor OAuth services to use DTOs for requests and responses, enhancing type safety and clarity
  jinear-core/src/main/java/co/jinear/core/converter/oauth/OauthDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/oauth/provider/OauthTokenManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/oauth/OauthAuthorizationCodeDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/oauth/OauthAuthorizationRequestDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/oauth/OauthConnectionDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/oauth/OauthRefreshTokenDto.java
  jinear-core/src/main/java/co/jinear/core/model/request/oauth/OauthAuthorizeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/oauth/OauthClientRegistrationRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/oauth/OauthRevokeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/oauth/OauthTokenRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/oauth/OauthClientRegistrationResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/oauth/OauthErrorResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/oauth/OauthProtectedResourceMetadataResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/oauth/OauthServerMetadataResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/oauth/OauthTokenResponse.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/McpDiscoveryService.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthDiscoveryService.java
  jinear-core/src/main/java/co/jinear/core/service/oauth/provider/OauthErrorMapper.java
Due: core:build, core:deploy

feature/jin-562 adds update from older sections on instance settings post
  jinear-site/content/blog/instance-settings-an-admin-panel-for-self-hosters.mdx
Due: none

poc-mcp: Move the MCP tool layer to the manager altitude
  docs/mcp/IMPLEMENTATION.md
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpAdminManager.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpManagementManager.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpManager.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/McpProtocolManager.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/McpTool.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/McpToolArguments.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/McpToolRegistry.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/SimpleMcpTool.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/BoardMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/CalendarMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/CompatibilityMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/FileMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/NoteMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/TaskMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/WorkspaceMcpTools.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/McpServerInfoService.java
  jinear-core/src/main/java/co/jinear/core/service/mcp/McpToolCallLogListingService.java
  jinear-core/src/main/java/co/jinear/core/validator/mcp/McpToolScopeValidator.java
  jinear-core/src/main/java/co/jinear/core/validator/workspace/WorkspaceValidator.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpControllerTest.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpRealCatalog.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpServerInfoTest.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpTestTools.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpToolCatalogTest.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpToolManifestExportTest.java
  jinear-installation-scripts/templates/application.properties.template
Due: core:build, core:deploy

poc-mcp: Point the coding style examples at the refactored code
  CODING_STYLE.md
Due: none

poc-mcp: Move manifest generation out of the test into McpToolManifestExporter
  .gitignore
  jinear-core/src/test/java/co/jinear/core/mcp/McpToolManifestExportTest.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpToolManifestExporter.java
  jinear-site/lib/mcp-tools.generated.json
Due: core:build, core:deploy

poc-mcp: Refactor McpTool creation for improved readability
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/CompatibilityMcpTools.java
  jinear-core/src/main/java/co/jinear/core/manager/mcp/tool/config/TaskMcpTools.java
  jinear-core/src/test/java/co/jinear/core/mcp/McpToolManifestExporter.java
Due: core:build, core:deploy
