Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

core:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

core:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

web:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

web:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-custom:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-custom:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-manager:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-manager:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

message-service:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

message-service:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

feature/jin-547: Implement dynamic email branding by adding placeholders for logo, footer URL, and footer text in email templates
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/config/properties/MailProperties.java
  jinear-core/src/main/java/co/jinear/core/service/mail/MailService.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.6.xml
  jinear-core/src/main/resources/mail/email-confirm-mail.html
  jinear-core/src/main/resources/mail/email-login-token-mail.html
  jinear-core/src/main/resources/mail/email-workspace-invitation-mail.html
  jinear-core/src/main/resources/mail/generic-info-with-sub-info-mail-with-cta.html
  jinear-core/src/main/resources/mail/generic-info-with-sub-info-mail.html
  jinear-core/src/main/resources/mail/new-password-mail.html
  jinear-core/src/main/resources/mail/reset-password-mail.html
  jinear-core/src/main/resources/mail/task-reminder-mail.html
  jinear-pages/model/be/jinear-core.ts
  jinear-web/model/be/jinear-core.ts
Due: core:build, core:deploy, web:build, web:deploy, pages:build

feature/jin-547: Refactor Caddyfile and enhance server fetch utilities for improved project feed handling
  CLAUDE.md
  PROMPT_TEMPLATE.md
  jinear-caddy-custom/base-Caddyfile
  jinear-core/.run/cp core to web.run.xml
  jinear-core/jinear-core.ts
  jinear-pages/app/layout.tsx
  jinear-pages/app/page.tsx
  jinear-pages/app/post/[projectPostId]/page.tsx
  jinear-pages/components/projectFeedPostDetailScreen/ProjectFeedPostDetailScreen.tsx
  jinear-pages/components/root/Root.tsx
  jinear-pages/model/be/jinear-core.ts
  jinear-pages/utils/serverFetch.ts
  jinear-web/app/page.tsx
  jinear-web/components/root/Root.tsx
  jinear-web/model/be/jinear-core.ts
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, pages:build

feature/jin-547: Create HomeClient and PricingClient components for improved homepage and pricing page structure
  jinear-web/app/HomeClient.tsx
  jinear-web/app/page.tsx
  jinear-web/app/pricing/PricingClient.tsx
  jinear-web/app/pricing/page.tsx
  jinear-web/app/terms/TermsClient.tsx
  jinear-web/app/terms/page.tsx
Due: web:build, web:deploy

feature/jin-547: Enhance SEO and user experience by adding structured data for blog posts and software application
  jinear-pages/app/post/[projectPostId]/page.tsx
  jinear-web/app/page.tsx
  jinear-web/components/homepage/footer/Footer.tsx
Due: web:build, web:deploy, pages:build

feature/jin-547: Add dynamic robots and sitemap generation for improved SEO and indexing
  jinear-pages/app/robots.ts
  jinear-pages/app/sitemap.ts
  jinear-web/app/robots.ts
  jinear-web/app/sitemap.ts
Due: web:build, web:deploy, pages:build

feature/jin-547: remove features. Messages and projects. bumps next version
  jinear-web/app/layout.tsx
  jinear-web/components/form/newTaskForm/NewTaskForm.tsx
  jinear-web/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-web/components/sideMenu/workspaceActionButtons/WorkspaceActionButtons.tsx
  jinear-web/components/taskDetail/taskActionBar/TaskActionBar.tsx
  jinear-web/package.json
Due: web:build, web:deploy

feature/jin-549: Integrate redux-persist for state persistence and enhance API handling
  jinear-web/components/reduxProvider/ReduxProvider.tsx
  jinear-web/package.json
  jinear-web/store/api/api.ts
  jinear-web/store/store.ts
  jinear-web/yarn.lock
Due: web:build, web:deploy

feature/jin-549: Update service worker configuration and dependencies for improved caching and offline support
  jinear-web/.gitignore
  jinear-web/app/sw.ts
  jinear-web/next.config.js
  jinear-web/package.json
  jinear-web/worker/index.js
  jinear-web/yarn.lock
Due: web:build, web:deploy

feature/jin-548: Refactor account handling and improve error logging in API middleware
  jinear-app/src/App.tsx
  jinear-app/src/components/calendar/Calendar.tsx
  jinear-app/src/components/calendar/common/dayspanTimelyView/DayspanTimelyView.tsx
  jinear-app/src/components/calendar/dayView/DayView.tsx
  jinear-app/src/components/calendar/monthView/MonthView.tsx
  jinear-app/src/components/calendar/twoDayView/TwoDayView.tsx
  jinear-app/src/components/calendar/weekView/WeekView.tsx
  jinear-app/src/hooks/useQueryState.ts
  jinear-app/src/pages/app/AppPage.tsx
  jinear-app/src/store/api/api.ts
  jinear-app/src/store/api/errorMiddleware.ts
  jinear-app/src/store/index.ts
  jinear-app/src/store/slice/accountSlice.ts
  jinear-app/src/sw.ts
Due: none

feature/jin-548: Optimize viewing date handling with useMemo for performance improvement
  jinear-app/src/components/calendar/dayView/weekDays/WeekDays.tsx
Due: none

feature/jin-548: Update API_ROOT configuration for environment-specific URLs and clean up base query settings
  jinear-app/src/store/api/api.ts
  jinear-app/src/util/constants.ts
Due: none

feature/jin-548: Enhance Firebase messaging integration with service worker registration and background message handling
  jinear-app/src/components/firebaseConfiguration/FirebaseConfigration.tsx
  jinear-app/src/components/modal/notificationPermissionModal/NotificationPermissionModal.tsx
  jinear-app/src/sw.ts
Due: none

feature/jin-548: Add SVG assets for various components and update HTML meta tags for improved theming
  jinear-app/index.html
  jinear-app/public/favicon.ico
  jinear-app/public/favicon.svg
  jinear-app/vite.config.ts
Due: none

feature/jin-548: Update Firebase configuration to use environment variables and enhance service worker integration
  jinear-app/.env.example
  jinear-app/index.html
  jinear-app/src/components/firebaseConfiguration/FirebaseConfigration.tsx
  jinear-app/src/sw.ts
  jinear-app/src/vite-env.d.ts
  jinear-app/vite.config.ts
Due: none

feature/jin-548: Update Firebase configuration to use environment variables and enhance service worker integration
  docs/behind-traefik/README.md
  docs/behind-traefik/jinear/Caddyfile
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/manual-setup/.config/Caddyfile
  docs/manual-setup/docker-compose.yaml
  jinear-app/README.md
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-548: Enhance CI/CD configuration for jinear-app with build and deploy stages
  .gitlab-ci.yml
  jinear-app/Dockerfile
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-548: Integrate PostHog for product analytics and update environment configurations
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/manual-setup/docker-compose.yaml
  jinear-app/.env.example
  jinear-app/README.md
  jinear-app/package.json
  jinear-app/src/components/authCheck/AuthCheck.tsx
  jinear-app/src/main.tsx
  jinear-app/yarn.lock
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-548: Remove deprecated services and update Caddy configuration for streamlined deployment
  .gitlab-ci.yml
  CLAUDE.md
  README.md
  docs/behind-traefik/README.md
  docs/behind-traefik/jinear/Caddyfile
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/behind-traefik/traefik/dynamic.yaml
  docs/manual-setup/.config/Caddyfile
  docs/manual-setup/docker-compose.yaml
  jinear-app/README.md
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-548: Update CLAUDE.md to reflect changes in frontend architecture and phase out legacy components
  CLAUDE.md
Due: none

feature/jin-548: Add ReloadQueryRefetchHandler component to manage query refetching
  jinear-app/src/App.tsx
  jinear-app/src/components/reloadQueryRefetchHandler/ReloadQueryRefetchHandler.tsx
Due: none

feature/jin-548: Refactor loading state variable names for consistency and enhance online check in ReloadQueryRefetchHandler
  jinear-app/src/components/calendarSectionSideMenu/calendarTeamsList/CalendarTeamsList.tsx
  jinear-app/src/components/reloadQueryRefetchHandler/ReloadQueryRefetchHandler.tsx
  jinear-app/src/components/sideMenu/basicTeamList/BasicTeamList.tsx
  jinear-app/src/components/sideMenu/workspaceActionButtons/WorkspaceActionButtons.tsx
Due: none

feature/jin-548: Comment out ReloadQueryRefetchHandler in App.tsx for future reference
  jinear-app/src/App.tsx
Due: none

feature/jin-548: Add BareNav and BareFooter components, update styles, and enhance blog and pricing pages
  jinear-site/app/HomeClient.tsx
  jinear-site/app/blog/[slug]/page.tsx
  jinear-site/app/blog/blog.module.scss
  jinear-site/app/blog/page.tsx
  jinear-site/app/index.module.scss
  jinear-site/app/layout.tsx
  jinear-site/app/pricing/PricingClient.tsx
  jinear-site/app/pricing/index.module.scss
  jinear-site/app/sitemap.ts
  jinear-site/app/terms/index.module.scss
  jinear-site/app/terms/page.tsx
  jinear-site/components/homepage/bareFooter/BareFooter.module.scss
  jinear-site/components/homepage/bareFooter/BareFooter.tsx
  jinear-site/components/homepage/bareNav/BareNav.module.scss
  jinear-site/components/homepage/bareNav/BareNav.tsx
  jinear-site/lib/posts.ts
  jinear-site/styles/app.scss
  jinear-site/styles/fonts.css
  jinear-site/styles/variables.css
Due: none

feature/jin-548: Update captions for clarity, remove reading time display, and simplify lede text
  jinear-site/app/HomeClient.tsx
  jinear-site/app/blog/[slug]/page.tsx
  jinear-site/app/blog/page.tsx
  jinear-site/lib/posts.ts
Due: none

feature/jin-548: Update section headings and add favicon icons for improved clarity and branding
  jinear-site/app/HomeClient.tsx
  jinear-site/app/layout.tsx
  jinear-site/public/favicon.ico
Due: none

feature/jin-548: Update section headings and add favicon icons for improved clarity and branding
  jinear-site/public/images/icon/icon-1024x1024.png
  jinear-site/public/images/icon/icon-128x128-mail.png
  jinear-site/public/images/icon/icon-128x128.png
  jinear-site/public/images/icon/icon-144x144.png
  jinear-site/public/images/icon/icon-152x152.png
  jinear-site/public/images/icon/icon-192x192-notification.png
  jinear-site/public/images/icon/icon-192x192.png
  jinear-site/public/images/icon/icon-384x384.png
  jinear-site/public/images/icon/icon-48x48.png
  jinear-site/public/images/icon/icon-512x512.png
  jinear-site/public/images/icon/icon-72x72.png
  jinear-site/public/images/icon/icon-96x96-mail.png
  jinear-site/public/images/icon/icon-96x96.png
  jinear-site/public/images/icon/maskable-icon.png
Due: none

feature/jin-548: Integrate PostHog for analytics tracking and update initialization settings
  jinear-app/src/main.tsx
  jinear-site/app/layout.tsx
  jinear-site/components/postHogProvider/CSPostHogProvider.js
  jinear-site/package-lock.json
  jinear-site/package.json
  jinear-site/yarn.lock
Due: none

feature/jin-548: Integrate Paddle for payment processing and update related components
  jinear-app/package.json
  jinear-app/src/components/modal/upgradeWorkspaceModal/UpgradeWorkspaceModal.tsx
  jinear-app/src/components/scripts/Scripts.tsx
  jinear-app/src/util/paddle.ts
  jinear-app/yarn.lock
Due: none

feature/jin-548: Add WorkspaceModalProvider for enhanced modal management and integrate into app layout
  jinear-app/src/App.tsx
  jinear-app/src/components/modal-provider/ModalProvider.tsx
  jinear-app/src/components/modal-provider/WorkspaceModalProvider.tsx
  jinear-app/src/components/modal/menuMoreActionModal/MenuMoreActionModal.tsx
  jinear-app/src/pages/workspace/workspace-layout/layout.tsx
  jinear-site/app/terms/page.tsx
Due: none

feature/jin-548: Enhance external link handling in MDX components and add changelog for recent architectural changes
  jinear-site/app/blog/[slug]/page.tsx
  jinear-site/content/blog/introducing-self-hosted-jinear.mdx
  jinear-site/content/blog/whats-new-leaner-jinear-pwa-and-marketing-site.mdx
  jinear-site/content/blog/why-open-source-project-management.mdx
Due: none

feature/jin-548: Update offer details and refine changelog description for clarity
  jinear-site/app/page.tsx
  jinear-site/content/blog/whats-new-leaner-jinear-pwa-and-marketing-site.mdx
Due: none

feature/jin-548: Improve email template handling by using Matcher.quoteReplacement for safer string replacements
  jinear-core/src/main/java/co/jinear/core/manager/scheduledjob/ScheduledJobManager.java
  jinear-core/src/main/java/co/jinear/core/service/mail/MailService.java
Due: core:build, core:deploy

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
  caddy-custom:build: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-custom:deploy: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-manager:build: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  caddy-manager:deploy: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  message-service:build: any of: jinear-message-service/**/*, .gitlab-ci.yml
  message-service:deploy: any of: jinear-message-service/**/*, .gitlab-ci.yml
  pages:build: any of: jinear-pages/**/*, .gitlab-ci.yml
