Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy

core:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  stage: build
  script:
  - cd jinear-core
  - docker build -t ${JINEAR_CORE_IMAGE} .
  - docker push ${JINEAR_CORE_IMAGE}

core:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  stage: deploy
  script:
  - docker pull ${JINEAR_CORE_IMAGE}
  - docker tag ${JINEAR_CORE_IMAGE} ${JINEAR_CORE_IMAGE_LATEST}
  ...

web:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  stage: build
  script:
  - cd jinear-web
  - docker build -t ${JINEAR_WEB_IMAGE} .
  - docker push ${JINEAR_WEB_IMAGE}

web:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  stage: deploy
  script:
  - docker pull ${JINEAR_WEB_IMAGE}
  - docker tag ${JINEAR_WEB_IMAGE} ${JINEAR_WEB_IMAGE_LATEST}
  - docker push ${JINEAR_WEB_IMAGE_LATEST}
  ...

fixes new gitlab-ci
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy

adds caddy custom to gitlab-ci
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy

adds other modules to gitlab-ci
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy

adds multi-architecture build capabilities
  .gitlab-ci.yml
  jinear-caddy-custom/Dockerfile
  jinear-caddy-manager/Dockerfile
  jinear-core/Dockerfile
  jinear-pages/Dockerfile
  jinear-web/Dockerfile
Due: core:build, core:deploy, web:build, web:deploy

adds multi-architecture build capabilities
  jinear-pages/Dockerfile
  jinear-web/Dockerfile
Due: web:build, web:deploy

adds multi-architecture build capabilities
  jinear-web/Dockerfile
Due: web:build, web:deploy

gitlab-ci changes
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy

gitlab-ci changes
  jinear-web/Dockerfile
Due: web:build, web:deploy

gitlab-ci changes
  .gitlab-ci.yml
  jinear-pages/Dockerfile
Due: core:build, core:deploy, web:build, web:deploy

adds example
  example/.config/Caddyfile
  example/.config/application.properties
  example/.config/db-backup.sh
  example/.config/gcloud-serviceaccount.json
  example/docker-compose.yaml
Due: none

adds readme and licence
  LICENCE
  README.md
  example/.config/Caddyfile
Due: none

adds readme and licence
  README.md
Due: none

updates .gitignore and removes properties
  .gitignore
Due: none

adds self hosted
  jinear-web/app/pricing/page.tsx
  jinear-web/components/homepage/navbar/HomePageNavbar.tsx
  jinear-web/components/jinearSelfHostedInfo/JinearSelfHostedInfo.tsx
  jinear-web/components/modal/upgradeWorkspaceModal/UpgradeWorkspaceModal.tsx
  jinear-web/locales/strings.js
Due: web:build, web:deploy

Edit README.md
  README.md
Due: none

adds host your own button to main page
  jinear-web/app/index.module.scss
  jinear-web/app/page.tsx
Due: web:build, web:deploy

jinear-web fixes workspace subscription info errors
  jinear-web/components/workspaceSubscriptionInfo/WorkspaceSubscriptionInfo.tsx
  jinear-web/utils/constants.ts
Due: web:build, web:deploy

feature/jin-533 adds slugs to project posts
  jinear-core/.run/clean & compile & generate.run.xml
  jinear-core/.run/cp core to web.run.xml
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/model/dto/project/ProjectPostDto.java
  jinear-core/src/main/java/co/jinear/core/model/entity/project/ProjectPost.java
  jinear-core/src/main/java/co/jinear/core/model/request/project/ProjectPostInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/vo/project/InitializeProjectPostVo.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.4.xml
  jinear-pages/app/post/[projectPostId]/page.tsx
  jinear-pages/components/projectFeedScreen/newPostInput/NewPostInput.tsx
  jinear-pages/components/projectPost/ProjectPost.tsx
  jinear-pages/components/tiptap/Tiptap.tsx
  jinear-pages/model/be/jinear-core.ts
  jinear-pages/utils/createSlug.ts
  jinear-web/model/be/jinear-core.ts
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-533 adds tags for build jobs in GitLab CI
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-533 refactors task board filtering and adds new calendar boards list component
  jinear-core/.run/clean & compile & generate.run.xml
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/controller/task/TaskBoardListingController.java
  jinear-core/src/main/java/co/jinear/core/manager/calendar/CalendarEventManager.java
  jinear-core/src/main/java/co/jinear/core/manager/task/TaskBoardListingManager.java
  jinear-core/src/main/java/co/jinear/core/model/entity/task/Task.java
  jinear-core/src/main/java/co/jinear/core/model/request/calendar/CalendarEventFilterRequest.java
  jinear-core/src/main/java/co/jinear/core/model/vo/task/TaskSearchFilterVo.java
  jinear-core/src/main/java/co/jinear/core/repository/TaskBoardRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/TaskSearchRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/criteriabuilder/TaskSearchCriteriaBuilder.java
  jinear-core/src/main/java/co/jinear/core/service/task/board/TaskBoardListingService.java
  jinear-pages/model/be/jinear-core.ts
  jinear-web/components/calendar/common/dayspanTimelyView/DayspanTimelyView.tsx
  jinear-web/components/calendar/dayView/DayView.tsx
  jinear-web/components/calendar/monthView/MonthView.tsx
  jinear-web/components/calendarSectionSideMenu/CalendarSectionSideMenu.tsx
  jinear-web/components/calendarSectionSideMenu/calendarBoardsList/CalendarBoardsList.module.css
  jinear-web/components/calendarSectionSideMenu/calendarBoardsList/CalendarBoardsList.tsx
  jinear-web/components/modal/boardPickerModal/BoardPickerModal.tsx
  jinear-web/locales/strings.js
  jinear-web/model/be/jinear-core.ts
  jinear-web/store/api/api.ts
  jinear-web/store/api/taskBoardListingApi.ts
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-533 refactors channel activity tracking and updates related components
  jinear-core/.run/clean & compile & generate.run.xml
  jinear-core/.run/cp core to web.run.xml
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/model/entity/messaging/ThreadMessageInfo.java
  jinear-pages/model/be/jinear-core.ts
  jinear-web/components/channelScreen/channelBody/ChannelBody.tsx
  jinear-web/components/channelScreen/channelBody/thread/messageList/MessageList.tsx
  jinear-web/components/conversationsSectionSideMenu/channelList/channelButton/ChannelButton.tsx
  jinear-web/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-web/components/websockerHandler/WebsocketHandler.tsx
  jinear-web/model/be/jinear-core.ts
  jinear-web/repository/IndexedDbRepository.ts
  jinear-web/store/api/messageOperationApi.ts
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-533 updates SOCKET_ROOT configuration to use environment variable
  jinear-web/utils/constants.ts
Due: web:build, web:deploy

refactors messaging feature flag handling in MainFeaturesSideMenu component
  jinear-web/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
Due: web:build, web:deploy

adds Jinear pricing plans and updates related components
  jinear-web/app/[workspaceName]/layout.tsx
  jinear-web/app/index.module.scss
  jinear-web/app/page.tsx
  jinear-web/app/pricing/index.module.scss
  jinear-web/app/pricing/page.tsx
  jinear-web/components/homepage/callToActionBar/CallToActionBar.tsx
  jinear-web/components/homepage/footer/Footer.tsx
  jinear-web/components/homepage/navbar/HomePageNavbar.module.scss
  jinear-web/components/homepage/navbar/HomePageNavbar.tsx
  jinear-web/components/jinearPricingPlan/JinearPricingPlan.module.css
  jinear-web/components/jinearPricingPlan/JinearPricingPlan.tsx
  jinear-web/components/jinearPricingPlan/jinearFreePlan/JinearFreePlan.module.css
  jinear-web/components/jinearPricingPlan/jinearFreePlan/JinearFreePlan.tsx
  jinear-web/components/jinearPricingPlan/jinearProPlan/JinearProPlan.module.css
  jinear-web/components/jinearPricingPlan/jinearProPlan/JinearProPlan.tsx
  jinear-web/components/jinearPricingPlan/jinearProPlan/proPlanFeatureList/ProPlanFeatureList.module.css
  jinear-web/components/jinearPricingPlan/jinearProPlan/proPlanFeatureList/ProPlanFeatureList.tsx
  jinear-web/components/jinearProInfo/JinearProInfo.tsx
  jinear-web/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-web/components/modal/upgradeWorkspaceModal/UpgradeWorkspaceModal.module.css
  jinear-web/components/modal/upgradeWorkspaceModal/UpgradeWorkspaceModal.tsx
  jinear-web/components/websockerHandler/WebsocketHandler.tsx
  jinear-web/hooks/useAccountsPreferredWorkspaceIfLoggedIn.ts
  jinear-web/locales/strings.js
  jinear-web/styles/app.scss
  jinear-web/utils/constants.ts
Due: web:build, web:deploy

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
