Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

core:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

core:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

web:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

web:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-custom:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-custom:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-manager:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

caddy-manager:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

message-service:build:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

message-service:deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
  - docker login -u $CI_HUB_USER -p $CI_HUB_PASSWORD
  - apk add --no-cache curl
  - mkdir -p ~/.docker/cli-plugins/
  ...

removes tags from GitLab CI configuration
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

updates upgrade plan modal dispatch to trigger only for BASIC tier and adjusts redirect timeout
  jinear-web/app/pricing/page.tsx
Due: web:build, web:deploy

feature/jin-535 refactors modal organization and updates CSS styles for improved visual consistency
  jinear-web/components/calendar/common/week/weekTileRow/weekTile/WeekTile.module.css
  jinear-web/components/calendar/common/week/weekTileRow/weekTile/WeekTile.tsx
  jinear-web/components/calendar/weekView/timelyView/dayTimelyView/DayTimelyView.module.css
  jinear-web/components/calendar/weekView/timelyView/dayTimelyView/hourTile/HourTile.module.css
  jinear-web/components/modalProvider/ModalProvider.tsx
Due: web:build, web:deploy

feature/jin-535 enhances conversation components with improved styling and logging functionality
  jinear-core/src/main/java/co/jinear/core/manager/messaging/ConversationManager.java
  jinear-core/src/main/java/co/jinear/core/repository/messaging/MessageRepository.java
  jinear-core/src/main/java/co/jinear/core/service/messaging/conversation/ConversationNotifierService.java
  jinear-core/src/main/java/co/jinear/core/service/messaging/conversation/ConversationOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/messaging/message/MessageListingService.java
  jinear-message-service/dist/index.js
  jinear-message-service/dist/index.js.map
  jinear-message-service/src/index.ts
  jinear-web/app/[workspaceName]/conversations/page.module.scss
  jinear-web/app/[workspaceName]/conversations/page.tsx
  jinear-web/components/conversationsSectionSideMenu/ConversationsSectionSideMenu.module.scss
  jinear-web/components/conversationsSectionSideMenu/channelList/newChannelButton/NewChannelButton.module.css
  jinear-web/components/conversationsSectionSideMenu/conversationList/ConversationList.tsx
  jinear-web/components/conversationsSectionSideMenu/conversationList/conversationButton/ConversationButton.module.css
  jinear-web/components/conversationsSectionSideMenu/conversationList/conversationButton/ConversationButton.tsx
  jinear-web/components/conversationsSectionSideMenu/conversationList/newConversationButton/NewConversationButton.module.css
  jinear-web/components/conversationsSectionSideMenu/conversationList/newConversationButton/NewConversationButton.tsx
  jinear-web/components/modal/newConversationModal/newConversationInput/NewConversationInput.module.scss
  jinear-web/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.module.scss
  jinear-web/components/workspaceMemberInputPicker/WorkspaceMemberInputPicker.module.css
Due: core:build, core:deploy, web:build, web:deploy, message-service:build, message-service:deploy

feature/jin-535 enhances channel and conversation components with improved empty state messaging and visibility handling
  jinear-core/src/main/java/co/jinear/core/manager/messaging/MessageOperationManager.java
  jinear-core/src/main/java/co/jinear/core/service/messaging/thread/ThreadNotifierService.java
  jinear-web/components/channelScreen/channelBody/ChannelBody.module.css
  jinear-web/components/channelScreen/channelBody/ChannelBody.tsx
  jinear-web/components/conversationScreen/conversationBody/ConversationBody.tsx
  jinear-web/components/conversationsSectionSideMenu/channelList/channelButton/ChannelButton.tsx
  jinear-web/components/conversationsSectionSideMenu/conversationList/conversationButton/ConversationButton.tsx
  jinear-web/components/tasksSectionSideMenu/TasksSectionSideMenu.module.css
  jinear-web/components/websockerHandler/WebsocketHandler.tsx
  jinear-web/hooks/usePageVisibility.ts
  jinear-web/locales/strings.js
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-535 updates CORS configuration to allow requests from the Jinear domain
  jinear-message-service/dist/index.js
  jinear-message-service/dist/index.js.map
  jinear-message-service/src/index.ts
Due: message-service:build, message-service:deploy

feature/jin-535 opens messaging to public
  jinear-web/app/[workspaceName]/layout.tsx
  jinear-web/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-web/components/websockerHandler/WebsocketHandler.tsx
Due: web:build, web:deploy

feature/jin-535
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/converter/task/PlainTaskBoardEntryDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/converter/task/TaskBoardEntryDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/task/TaskBoardEntryManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/task/PlainTaskBoardEntryDto.java
  jinear-core/src/main/java/co/jinear/core/repository/TaskSearchRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/criteriabuilder/TaskSearchCriteriaBuilder.java
  jinear-core/src/main/java/co/jinear/core/service/task/board/entry/TaskBoardEntryRetrieveService.java
  jinear-pages/model/be/jinear-core.ts
  jinear-web/components/calendar/common/cell/Cell.module.scss
  jinear-web/components/calendar/common/cell/Cell.tsx
  jinear-web/components/calendar/weekView/timelyView/dayTimelyView/taskPositionBasedCell/TaskPositionBasedCell.module.css
  jinear-web/components/calendar/weekView/timelyView/dayTimelyView/taskPositionBasedCell/TaskPositionBasedCell.tsx
  jinear-web/components/form/newTaskBoardForm/NewTaskBoardForm.module.css
  jinear-web/components/form/newTaskBoardForm/NewTaskBoardForm.tsx
  jinear-web/components/modal/newTaskBoardModal/NewTaskBoardModal.tsx
  jinear-web/components/taskLists/taskBoardList/TaskBoardList.module.css
  jinear-web/components/taskLists/taskBoardList/TaskBoardList.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/TaskBoard.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardElementList/TaskBoardElementList.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardTitle/TaskBoardTitle.tsx
  jinear-web/locales/strings.js
  jinear-web/model/be/jinear-core.ts
  jinear-web/store/api/api.ts
Due: core:build, core:deploy, web:build, web:deploy, pages:build

feature/jin-535
  .gitignore
  example/.config/application.properties
  example/docker-compose.yaml
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/converter/account/AccountDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/account/AccountPasswordManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/account/AccountDto.java
  jinear-core/src/main/java/co/jinear/core/model/request/account/UpdatePasswordRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/auth/AuthCompleteRequest.java
  jinear-core/src/main/java/co/jinear/core/repository/AccountPasswordRepository.java
  jinear-core/src/main/java/co/jinear/core/service/account/AccountInitializeService.java
  jinear-core/src/main/java/co/jinear/core/service/account/AccountPasswordService.java
  jinear-pages/model/be/jinear-core.ts
  jinear-web/app/layout.tsx
  jinear-web/components/firebaseConfiguration/FirebaseConfigration.tsx
  jinear-web/components/forcePasswordChangeChecker/ForcePasswordChangeChecker.tsx
  jinear-web/components/form/changePasswordForm/ChangePasswordForm.module.css
  jinear-web/components/form/changePasswordForm/ChangePasswordForm.tsx
  jinear-web/components/modal/menuMoreActionModal/workspaceMembersButton/WorkspaceMembersButton.module.css
  jinear-web/components/modal/notificationPermissionModal/NotificationPermissionModal.tsx
  jinear-web/components/modal/passwordChangeModal/PasswordChangeModal.module.css
  jinear-web/components/modal/passwordChangeModal/PasswordChangeModal.tsx
  jinear-web/components/modalProvider/ModalProvider.tsx
  jinear-web/components/profileScreen/personalInfoTab/PersonalInfoTab.tsx
  jinear-web/components/workspaceMembersScreen/activeInvitationList/invitationRow/InvitationRow.module.scss
  jinear-web/hooks/useLocalStorage.ts
  jinear-web/locales/strings.js
  jinear-web/model/app/store/modal/modalState.ts
  jinear-web/model/be/jinear-core.ts
  jinear-web/store/api/taskBoardApi.ts
  jinear-web/store/api/taskBoardEntryApi.ts
  jinear-web/store/slice/modalSlice.ts
  jinear-web/store/store.ts
Due: core:build, core:deploy, web:build, web:deploy, pages:build

feature/jin-537 Implement dynamic CORS configuration and enhance media entity mapping
  jinear-core/src/main/java/co/jinear/core/config/security/DynamicCorsConfigurationSource.java
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/converter/media/MediaEntityConverter.java
  jinear-core/src/main/java/co/jinear/core/repository/project/ProjectDomainRepository.java
  jinear-core/src/main/java/co/jinear/core/service/media/MediaOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/project/domain/ProjectDomainRetrieveService.java
Due: core:build, core:deploy

feature/jin-537 Implement dynamic CORS configuration and enhance media entity mapping
  jinear-core/src/main/java/co/jinear/core/repository/project/ProjectDomainRepository.java
  jinear-core/src/main/java/co/jinear/core/service/project/domain/ProjectDomainRetrieveService.java
Due: core:build, core:deploy

feature/jin-537 Add change password functionality and adjust modal layout
  jinear-web/components/modal/accountProfileModal/AccountProfileModal.tsx
  jinear-web/components/profileScreen/personalInfoTab/PersonalInfoTab.module.css
  jinear-web/components/profileScreen/personalInfoTab/PersonalInfoTab.tsx
  jinear-web/locales/strings.js
Due: web:build, web:deploy

feature/jin-537 Update contact email in footer and page components
  jinear-web/app/terms/page.tsx
  jinear-web/components/homepage/footer/Footer.tsx
Due: web:build, web:deploy

feature/jin-537 Add domain validation endpoint and implement domain status check
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/controller/domain/DomainValidationController.java
  jinear-core/src/main/java/co/jinear/core/manager/project/ProjectDomainManager.java
Due: core:build, core:deploy

feature/jin-537 Enhance domain validation logic to support pattern matching for allowed origins
  jinear-core/src/main/java/co/jinear/core/config/security/DynamicCorsConfigurationSource.java
Due: core:build, core:deploy

feature/jin-537 Refactor domain CNAME handling: update status to SETUP_COMPLETED and adjust sync interval
  jinear-core/src/main/java/co/jinear/core/config/client/caddymanager/CaddyManagerClientConfig.java
  jinear-core/src/main/java/co/jinear/core/config/properties/CaddyManagerProperties.java
  jinear-core/src/main/java/co/jinear/core/manager/scheduledjob/ScheduledJobManager.java
  jinear-core/src/main/java/co/jinear/core/service/caddymanager/CaddyManagerClient.java
  jinear-core/src/main/java/co/jinear/core/service/caddymanager/MockCaddyManagerClient.java
  jinear-core/src/main/java/co/jinear/core/service/caddymanager/RestCaddyManagerClient.java
  jinear-core/src/main/java/co/jinear/core/service/project/domain/ProjectDomainCnameOperatorService.java
  jinear-core/src/main/java/co/jinear/core/service/project/domain/ProjectDomainDnsChecker.java
  jinear-core/src/main/java/co/jinear/core/service/project/domain/ProjectDomainOperationService.java
Due: core:build, core:deploy

feature/jin-537 cleanup CI configuration and remove unused Caddy manager settings
  .gitlab-ci.yml
  README.md
  example/.config/Caddyfile
  example/.config/application.properties
  example/docker-compose.yaml
  jinear-caddy-manager/.env
  jinear-caddy-manager/.gitignore
  jinear-caddy-manager/.gitlab-ci.yml
  jinear-caddy-manager/Dockerfile
  jinear-caddy-manager/compose.yaml
  jinear-caddy-manager/docker-compose.yml
  jinear-caddy-manager/package.json
  jinear-caddy-manager/src/error/AuthenticationError.ts
  jinear-caddy-manager/src/helper/CaddyFileGenerator.ts
  jinear-caddy-manager/src/interceptor/AuthInterceptor.ts
  jinear-caddy-manager/src/server.ts
  jinear-caddy-manager/tsconfig.json
  jinear-caddy-manager/yarn.lock
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-537 Remove validation constraints on locale field in RegisterViaMailRequest
  jinear-core/src/main/java/co/jinear/core/model/request/account/register/RegisterViaMailRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/auth/LoginWithPasswordRequest.java
Due: core:build, core:deploy

feature/jin-537 Implement rate limiting functionality with Redis backend and update caching configuration
  jinear-core/pom.xml
  jinear-core/src/main/java/co/jinear/core/config/CachingConfig.java
  jinear-core/src/main/java/co/jinear/core/config/RedisConfiguration.java
  jinear-core/src/main/java/co/jinear/core/config/properties/RateLimitProperties.java
  jinear-core/src/main/java/co/jinear/core/config/security/RateLimitingFilter.java
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/controller/DebugController.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/ratelimit/RateLimitPlan.java
  jinear-core/src/main/java/co/jinear/core/service/ratelimit/RateLimitService.java
Due: core:build, core:deploy

feature/jin-537 Add rate limiting configuration to example and update domain validation route in Caddyfile
  example/.config/Caddyfile
  example/.config/application.properties
Due: none

feature/jin-537 Refactor rate limiting logging to use debug level and enhance logout configuration by clearing authentication and invalidating session
  jinear-core/src/main/java/co/jinear/core/config/security/RateLimitingFilter.java
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/model/entity/messaging/Message.java
Due: core:build, core:deploy

feature/jin-537 Refactor logout success handler to use method reference and remove unused field in SecurityConfiguration
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
Due: core:build, core:deploy

feature/jin-537 Remove logout success URL from SecurityConfiguration to streamline logout process
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
Due: core:build, core:deploy

feature/jin-537 Update logout success URL from SecurityConfiguration to streamline logout process
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
Due: core:build, core:deploy

feature/jin-537 Remove logout success URL configuration in SecurityConfiguration to simplify logout process
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
Due: core:build, core:deploy

feature/jin-537 Remove logout URL configuration in SecurityConfiguration to simplify logout process
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
Due: core:build, core:deploy

feature/jin-537 Implement captcha challenge generation and verification in robot messaging operations
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/config/security/RateLimitingFilter.java
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/controller/DebugController.java
  jinear-core/src/main/java/co/jinear/core/controller/captcha/CaptchaController.java
  jinear-core/src/main/java/co/jinear/core/controller/messaging/message/RobotMessageOperationController.java
  jinear-core/src/main/java/co/jinear/core/controller/messaging/thread/ThreadRobotsController.java
  jinear-core/src/main/java/co/jinear/core/manager/captcha/CaptchaManager.java
  jinear-core/src/main/java/co/jinear/core/manager/messaging/RobotsMessageOperationManager.java
  jinear-core/src/main/java/co/jinear/core/manager/messaging/RobotsThreadManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/captcha/CaptchaChallengeDto.java
  jinear-core/src/main/java/co/jinear/core/model/request/messaging/message/SendMessageRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/messaging/thread/RobotsInitializeThreadRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/captcha/CaptchaChallengeResponse.java
  jinear-core/src/main/java/co/jinear/core/model/vo/captcha/CaptchaResolveVo.java
  jinear-core/src/main/java/co/jinear/core/repository/captcha/CaptchaRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/captcha/MockRedisCaptchaRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/captcha/RedisCaptchaRepository.java
  jinear-core/src/main/java/co/jinear/core/service/captcha/CaptchaChallengeService.java
  jinear-core/src/main/java/co/jinear/core/service/messaging/message/MessageRetrieveService.java
  jinear-core/src/main/java/co/jinear/core/system/IpResolver.java
  jinear-pages/model/be/jinear-core.ts
  jinear-web/.env.production
  jinear-web/components/modal/accountProfileModal/AccountProfileModal.tsx
  jinear-web/components/modal/feedbackModal/FeedbackModal.module.css
  jinear-web/components/modal/feedbackModal/FeedbackModal.tsx
  jinear-web/components/modalProvider/ModalProvider.tsx
  jinear-web/components/sideMenu/sideMenuFooter/SideMenuFooter.module.scss
  jinear-web/components/sideMenu/sideMenuFooter/SideMenuFooter.tsx
  jinear-web/components/themeToggle/ThemeToggle.tsx
  jinear-web/locales/strings.js
  jinear-web/model/be/jinear-core.ts
  jinear-web/store/api/api.ts
  jinear-web/store/api/captchaApi.ts
  jinear-web/store/api/robotMessageOperationApi.ts
  jinear-web/store/slice/modalSlice.ts
  jinear-web/styles/app.scss
  jinear-web/utils/captcha-challenge-solver.ts
  jinear-web/utils/tracker.ts
  jinear-web/worker/index.js
Due: core:build, core:deploy, web:build, web:deploy, pages:build

feature/jin-537 Update contact email in footer and page components
  jinear-core/src/main/java/co/jinear/core/config/security/SecurityConfiguration.java
  jinear-core/src/main/java/co/jinear/core/service/messaging/message/MessageRetrieveService.java
  jinear-web/app/[workspaceName]/conversations/channel/[channelId]/thread/[threadId]/page.tsx
  jinear-web/components/channelScreen/channelBody/ChannelBody.module.css
  jinear-web/components/channelScreen/channelBody/ChannelBody.tsx
  jinear-web/components/channelScreen/channelBody/thread/messageList/MessageList.module.css
  jinear-web/components/channelScreen/channelBody/thread/messageList/MessageList.tsx
  jinear-web/components/channelScreen/channelBody/thread/replyInput/ReplyInput.module.css
  jinear-web/components/channelScreen/channelBody/thread/replyInput/ReplyInput.tsx
  jinear-web/components/channelScreen/channelScreenHeader/ChannelScreenHeader.tsx
  jinear-web/components/channelScreen/newThreadInput/NewThreadInput.module.scss
  jinear-web/components/channelScreen/newThreadInput/NewThreadInput.tsx
  jinear-web/components/conversationScreen/conversationBody/ConversationBody.module.css
  jinear-web/components/conversationScreen/conversationBody/ConversationBody.tsx
  jinear-web/components/conversationScreen/replyConversationInput/ReplyConversationInput.module.scss
  jinear-web/components/conversationScreen/replyConversationInput/ReplyConversationInput.tsx
  jinear-web/components/infiniteLineLoading/InfiniteLineLoading.module.css
  jinear-web/components/infiniteLineLoading/InfiniteLineLoading.tsx
  jinear-web/components/pageInfo/PageInfo.module.css
  jinear-web/components/paginatedList/PaginatedList.tsx
  jinear-web/components/pagination/Pagination.module.css
  jinear-web/components/sideMenu/sideMenuFooter/SideMenuFooter.tsx
  jinear-web/components/taskLists/multiViewTaskList/MultiViewTaskList.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/TaskBoard.module.css
  jinear-web/components/taskLists/taskBoardList/taskBoard/TaskBoard.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardColumnView/TaskBoardColumnView.module.css
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardColumnView/TaskBoardColumnView.module.scss
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardColumnView/TaskBoardColumnView.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardElementList/TaskBoardElementList.tsx
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardTitle/TaskBoardTitle.module.scss
  jinear-web/components/taskLists/taskBoardList/taskBoard/taskBoardTitle/TaskBoardTitle.tsx
  jinear-web/components/taskLists/taskWorkflowStatusBoardView/TaskWorkflowStatusBoardView.module.scss
  jinear-web/components/taskLists/taskWorkflowStatusBoardView/TaskWorkflowStatusBoardView.tsx
  jinear-web/components/tiptap/Tiptap.tsx
  jinear-web/model/be/jinear-core.ts
Due: core:build, core:deploy, web:build, web:deploy

feature/jin-537 Update Docker Buildx version in CI configuration
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Disable Docker-in-Docker service in CI configuration
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Update CI configuration to use tags for image versioning and add version bumping job
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Update CI configuration to use JINEAR_CI_TAG_JOB_TOKEN for Git remote URL
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Update CI configuration to use GITLAB_USER_LOGIN for Git remote URL and adjust tag versioning
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Fix variable interpolation in CI configuration for TAG
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Update CI configuration to support new tagging mechanism and add version bumping artifacts
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
  caddy-custom:build: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-custom:deploy: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-manager:build: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  caddy-manager:deploy: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  message-service:build: any of: jinear-message-service/**/*, .gitlab-ci.yml
  message-service:deploy: any of: jinear-message-service/**/*, .gitlab-ci.yml
  pages:build: any of: jinear-pages/**/*, .gitlab-ci.yml
