Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
  caddy-custom:build: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-custom:deploy: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-manager:build: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  caddy-manager:deploy: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  message-service:build: any of: jinear-message-service/**/*, .gitlab-ci.yml
  message-service:deploy: any of: jinear-message-service/**/*, .gitlab-ci.yml
  pages:build: any of: jinear-pages/**/*, .gitlab-ci.yml

Update CI configuration to support new tagging mechanism and add version bumping artifacts
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Refactor CI configuration to dynamically set image tags based on CI_COMMIT_TAG or CI_COMMIT_SHORT_SHA
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Rename .gitlab-ci.yml to .gitlab-ci.yml_deprecated for configuration migration
  jinear-caddy-custom/.gitlab-ci.yml_deprecated
  jinear-core/.gitlab-ci.yml_deprecated
  jinear-message-service/.gitlab-ci.yml_deprecated
  jinear-pages/.gitlab-ci.yml_deprecated
  jinear-web/.gitlab-ci.yml_deprecated
  jinear-webview-mobile/.gitlab-ci.yml_deprecated
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, message-service:build, message-service:deploy, pages:build

Add manual trigger for main branch in CI configuration
  .gitlab-ci.yml
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Enhance WebSocket error handling and update CORS configuration
  jinear-message-service/src/index.ts
Due: message-service:build, message-service:deploy

feature/jin-538 init material feature
  jinear-core/src/main/java/co/jinear/core/controller/DebugController.java
  jinear-core/src/main/java/co/jinear/core/controller/material/MaterialOperationController.java
  jinear-core/src/main/java/co/jinear/core/converter/material/MaterialDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/converter/material/MaterialEntityConverter.java
  jinear-core/src/main/java/co/jinear/core/converter/material/MaterialInitializeFileUploadRequestToVoConverter.java
  jinear-core/src/main/java/co/jinear/core/converter/material/MaterialInitializeFolderRequestToVoConverter.java
  jinear-core/src/main/java/co/jinear/core/converter/material/MaterialTypeConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/material/MaterialOperationManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/material/MaterialDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/material/WaitingForUploadMaterialResultDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/media/WaitingMediaResultDto.java
  jinear-core/src/main/java/co/jinear/core/model/entity/material/Material.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/material/MaterialType.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/media/FileType.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/media/MediaOwnerType.java
  jinear-core/src/main/java/co/jinear/core/model/request/material/MaterialInitializeFileUploadRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/material/MaterialInitializeFolderRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/material/MaterialInitializeFileUploadResponse.java
  jinear-core/src/main/java/co/jinear/core/model/vo/material/MaterialFileInitializeVo.java
  jinear-core/src/main/java/co/jinear/core/model/vo/material/MaterialFolderInitializeVo.java
  jinear-core/src/main/java/co/jinear/core/model/vo/material/MaterialInitializeVo.java
  jinear-core/src/main/java/co/jinear/core/repository/material/MaterialRepository.java
  jinear-core/src/main/java/co/jinear/core/service/material/MaterialOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/material/MaterialRetrieveService.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.5.xml
Due: core:build, core:deploy

feature/jin-538 Adjust row positioning styles in material list view and set relative positioning for action cell
  jinear-web/components/workspaceFilesPage/materialListView/MaterialListView.module.css
  jinear-web/components/workspaceFilesPage/materialListView/materialViewRow/MaterialViewRow.tsx
Due: web:build, web:deploy

feature/jin-538 Update file open behavior and tap handling for mobile devices in material list
  jinear-web/components/workspaceFilesPage/materialListView/materialViewRow/MaterialViewRow.tsx
Due: web:build, web:deploy

Add scheduled job to process upcoming reminders every 3 minutes
  jinear-core/src/main/java/co/jinear/core/manager/scheduledjob/ScheduledJobManager.java
Due: core:build, core:deploy

feature/jin-538 Implement material access management: add access types, update access handling, and create access modal
  jinear-web/components/workspaceFilesPage/materialListView/materialViewRow/MaterialViewRow.tsx
  jinear-web/locales/strings.js
Due: web:build, web:deploy

feature/jin-538 Add workspace media limits management: implement media usage tracking and validation
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/config/properties/GenericJinearProperties.java
  jinear-core/src/main/java/co/jinear/core/controller/workspace/WorkspaceMediaController.java
  jinear-core/src/main/java/co/jinear/core/manager/material/MaterialOperationManager.java
  jinear-core/src/main/java/co/jinear/core/manager/task/TaskMediaManager.java
  jinear-core/src/main/java/co/jinear/core/manager/workspace/WorkspaceMediaManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/workspace/WorkspaceMediaUsageDto.java
  jinear-core/src/main/java/co/jinear/core/model/response/workspace/WorkspaceMediaLimitResponse.java
  jinear-core/src/main/java/co/jinear/core/repository/TaskMediaRepository.java
  jinear-core/src/main/java/co/jinear/core/validator/workspace/WorkspaceMediaLimitQueryService.java
  jinear-core/src/main/java/co/jinear/core/validator/workspace/WorkspaceMediaLimitValidator.java
  jinear-pages/model/be/jinear-core.ts
  jinear-web/components/filesSectionSideMenu/FilesSectionSideMenu.tsx
  jinear-web/components/filesSectionSideMenu/mediaLimitUsage/MediaLimitUsage.module.css
  jinear-web/components/filesSectionSideMenu/mediaLimitUsage/MediaLimitUsage.tsx
  jinear-web/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-web/locales/strings.js
  jinear-web/model/be/jinear-core.ts
  jinear-web/store/api/api.ts
  jinear-web/store/api/materialOperationApi.ts
  jinear-web/store/api/taskMediaApi.ts
  jinear-web/store/api/workspaceMediaApi.ts
  jinear-web/utils/constants.ts
Due: core:build, core:deploy, web:build, web:deploy, pages:build

feature/jin-538 Implement material access validation: enhance access checks based on access type and add route handling for logged-in users
  jinear-core/src/main/java/co/jinear/core/service/material/MaterialAccessValidationService.java
  jinear-web/app/page.tsx
  jinear-web/components/workspaceLayoutHeader/WorkspaceLayoutHeader.tsx
  jinear-web/hooks/useRouteIfLoggedIn.ts
Due: core:build, core:deploy, web:build, web:deploy

Add storage limits configuration: define basic and pro storage limits in application properties
  example/.config/application.properties
Due: none

feature/jin-538 Add feature comparison section: implement chat and storage feature cards with alternative options
  jinear-web/app/page.tsx
  jinear-web/app/pricing/index.module.scss
  jinear-web/app/pricing/page.tsx
  jinear-web/components/homepage/featureCard/FeatureCard.tsx
  jinear-web/components/homepage/footer/Footer.tsx
  jinear-web/components/homepage/hero/Hero.module.scss
  jinear-web/locales/strings.js
Due: web:build, web:deploy

feature/jin-542 Add initial configuration files for Jinear setup including secrets, Caddyfile, and backup script
  README.md
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/jinear/.config/application.properties
  jinear-installation-scripts/jinear/.config/db-backup.sh
  jinear-installation-scripts/jinear/.data/caddy/conf/Caddyfile
  jinear-installation-scripts/jinear/.secrets
  jinear-installation-scripts/jinear/docker-compose.yaml
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/application.properties.template
  jinear-installation-scripts/templates/db-backup.sh
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Add initial configuration files for Jinear setup including secrets, Caddyfile, and backup script
  README.md
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/application.properties.template
  jinear-installation-scripts/templates/db-backup.sh
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Add initial configuration files for Jinear setup including secrets, Caddyfile, and backup script
  jinear-installation-scripts/jinear/.config/application.properties
  jinear-installation-scripts/jinear/.config/db-backup.sh
  jinear-installation-scripts/jinear/.data/caddy/conf/Caddyfile
  jinear-installation-scripts/jinear/.secrets
  jinear-installation-scripts/jinear/docker-compose.yaml
Due: none

feature/jin-542 Update MinIO image and configuration in docker-compose.yaml
  example/docker-compose.yaml
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Add storage limits configuration: define basic and pro storage limits in application properties template
  jinear-installation-scripts/templates/application.properties.template
Due: none

feature/jin-542 Update Caddyfile and template: replace 'on_demand' with 'issuer acme' for TLS configuration
  example/.config/Caddyfile
  jinear-installation-scripts/templates/Caddyfile.template
Due: none

feature/jin-542 Update Caddyfile and template: replace 'on_demand' with 'issuer acme' for TLS configuration
  example/.config/application.properties
  jinear-installation-scripts/templates/application.properties.template
Due: none

feature/jin-542 Add signed URL duration configuration: set duration for signed URLs in application properties
  example/.config/application.properties
  jinear-installation-scripts/templates/application.properties.template
Due: none

feature/jin-542 Refactor MinIO credentials: unify MinIO key and secret usage across configurations
  example/docker-compose.yaml
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-543 Enhance URL generation: replace internal endpoint in presigned URLs for public access
  jinear-core/src/main/java/co/jinear/core/service/media/fileoperation/MinIOMediaFileOperationStrategy.java
Due: core:build, core:deploy

feature/jin-542 Add message subdomain configuration and enhance reverse proxy settings
  example/.config/Caddyfile
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Add WebSocket configuration for message subdomain in docker-compose and update README
  README.md
  example/docker-compose.yaml
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Add JWT generation for Caddy domain validation and update authorization header instructions
  example/.config/Caddyfile
  jinear-installation-scripts/install.sh
Due: none

Update Caddy configuration for Let's Encrypt production server and enhance SSL troubleshooting in README
  README.md
  example/.config/Caddyfile
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/Caddyfile.template
Due: none

feature/jin-542 Refactor Caddy configuration for on-demand TLS validation and enhance WebSocket reverse proxy settings
  example/.config/Caddyfile
  jinear-installation-scripts/README.md
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Add timezone validation to install script with user guidance
  jinear-installation-scripts/install.sh
Due: none

feature/jin-542 Cleanup Caddyfile and docker-compose by removing commented sections and unnecessary whitespace
  jinear-installation-scripts/templates/Caddyfile.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: none

feature/jin-542 Update README to clarify trailing slashes requirement in NEXT_PUBLIC_SOCKET_ROOT
  jinear-installation-scripts/README.md
Due: none

feature/jin-542 Update docker-compose to ensure trailing slashes in API and socket root URLs
  example/docker-compose.yaml
Due: none

feature/jin-542 Enhance port availability checks in install script with multiple methods
  jinear-installation-scripts/install.sh
Due: none

feature/jin-542 Enhance install script with interactive prompts and error handling for TTY requirements
  README.md
  jinear-installation-scripts/README.md
  jinear-installation-scripts/install.sh
Due: none

feature/jin-542 Refactor logging setup by removing Axiom transport and enhancing error handling in socket operations
  jinear-core/src/main/java/co/jinear/core/service/client/messageapi/RestMessageApiClient.java
  jinear-message-service/dist/index.js
  jinear-message-service/dist/index.js.map
  jinear-message-service/src/index.ts
Due: core:build, core:deploy, message-service:build, message-service:deploy
