Repository 140crafts/use-jinear: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

Path conditions:
  core:build: any of: jinear-core/**/*, .gitlab-ci.yml
  core:deploy: any of: jinear-core/**/*, .gitlab-ci.yml
  web:build: any of: jinear-web/**/*, .gitlab-ci.yml
  web:deploy: any of: jinear-web/**/*, .gitlab-ci.yml
  caddy-custom:build: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-custom:deploy: any of: jinear-caddy-custom/**/*, .gitlab-ci.yml
  caddy-manager:build: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  caddy-manager:deploy: any of: jinear-caddy-manager/**/*, .gitlab-ci.yml
  message-service:build: any of: jinear-message-service/**/*, .gitlab-ci.yml
  message-service:deploy: any of: jinear-message-service/**/*, .gitlab-ci.yml
  pages:build: any of: jinear-pages/**/*, .gitlab-ci.yml

feature/jin-548: Optimize Docker build process with caching for dependencies and build layers
  .gitlab-ci.yml
  jinear-core/Dockerfile
Due: core:build, core:deploy, web:build, web:deploy, caddy-custom:build, caddy-custom:deploy, caddy-manager:build, caddy-manager:deploy, message-service:build, message-service:deploy, pages:build

feature/jin-548: Enable ReloadQueryRefetchHandler and add delay for online status check
  jinear-app/src/App.tsx
  jinear-app/src/components/reloadQueryRefetchHandler/ReloadQueryRefetchHandler.tsx
Due: none

feature/jin-548: Simplify loading state checks by removing unnecessary conditions in team and calendar lists
  jinear-app/src/components/calendarSectionSideMenu/calendarTeamsList/CalendarTeamsList.tsx
  jinear-app/src/components/calendarSectionSideMenu/externalCalendarsList/ExternalCalendarsList.tsx
  jinear-app/src/components/filesSectionSideMenu/teamTaskFiles/TeamTaskFiles.tsx
  jinear-app/src/components/profile-screen/communicationPreferences/CommunicationPreferences.tsx
  jinear-app/src/components/profileScreen/communicationPreferences/CommunicationPreferences.tsx
  jinear-app/src/components/sideMenu/basicTeamList/BasicTeamList.tsx
  jinear-app/src/store/slice/modalSlice.ts
Due: none

feature/jin-548: Enhance task overview modal handling by including task details in popTaskOverviewModal dispatches
  jinear-app/src/components/calendar/common/cell/Cell.tsx
  jinear-app/src/components/calendar/weekView/timelyView/dayTimelyView/taskPositionBasedCell/TaskPositionBasedCell.tsx
  jinear-app/src/components/lastActivitiesScreen/paginatedActivityList/activityRow/ActivityRow.tsx
  jinear-app/src/components/modal/taskOverviewModal/TaskOverviewModal.tsx
  jinear-app/src/components/taskDetail/taskRelationList/taskRelationCell/TaskRelationCell.tsx
  jinear-app/src/components/taskDetail/taskSubtaskList/taskRelationRow/TaskRelationRow.tsx
  jinear-app/src/components/taskRow/TaskRow.tsx
  jinear-app/src/components/teamFilesScreen/fileRow/FileRow.tsx
  jinear-app/src/components/teamWorkflowStatusBoard/workflowStatusColumn/statusBoardTaskCard/StatusBoardTaskCard.tsx
  jinear-app/src/model/app/store/modal/modalState.ts
  jinear-app/src/pages/workspace/workspace-layout/layout.tsx
  jinear-app/src/store/slice/modalSlice.ts
Due: none

feature/jin-548: Add OfflinePrefetchManager and refactor calendar view period computations for improved offline support
  jinear-app/src/App.tsx
  jinear-app/src/components/calendar/calendarUtils.ts
  jinear-app/src/components/calendar/dayView/DayView.tsx
  jinear-app/src/components/calendar/monthView/MonthView.tsx
  jinear-app/src/components/calendar/twoDayView/TwoDayView.tsx
  jinear-app/src/components/calendar/weekView/WeekView.tsx
  jinear-app/src/components/offlinePrefetchManager/OfflinePrefetchManager.tsx
  jinear-app/src/components/offlinePrefetchManager/offlinePrefetchDescriptors.ts
  jinear-app/src/components/taskLists/multiViewTaskList/MultiViewTaskList.tsx
Due: none

feature/jin-548: Add NotFound page with styling and navigation links for improved user experience
  jinear-site/app/not-found.module.scss
  jinear-site/app/not-found.tsx
Due: none

feature/jin-548: Add NotFound page with styling and navigation links for improved user experience
  jinear-site/Caddyfile
Due: none

feature/jin-548: Introduce device profile management for adaptive offline prefetching based on device capabilities
  jinear-app/src/components/modal/materialFolderPickerModal/MaterialFolderPickerModal.tsx
  jinear-app/src/components/offlinePrefetchManager/OfflinePrefetchManager.tsx
  jinear-app/src/components/offlinePrefetchManager/offlinePrefetchDescriptors.ts
  jinear-app/src/components/workspaceFilesPage/WorkspaceFilesPage.tsx
  jinear-app/src/store/index.ts
  jinear-app/src/util/deviceProfile.ts
Due: none

feature/jin-548: Comment out OfflinePrefetchManager component in App.tsx
  jinear-app/src/App.tsx
Due: none

feature/jin-548: Enable OfflinePrefetchManager component and update storage to use localforage for improved offline capabilities
  jinear-app/package.json
  jinear-app/src/App.tsx
  jinear-app/src/store/index.ts
  jinear-app/yarn.lock
Due: none

feature/jin-548: Update loading states to check for null responses in various components
  jinear-app/src/components/calendar/dayView/DayView.tsx
  jinear-app/src/components/endlessScrollList/EndlessScrollList.tsx
  jinear-app/src/components/inboxScreen/notificationList/NotificationList.tsx
  jinear-app/src/components/lastActivitiesScreen/paginatedActivityList/PaginatedActivityList.tsx
  jinear-app/src/components/modal/boardPickerModal/BoardPickerModal.tsx
  jinear-app/src/components/modal/searchTaskModal/SearchTaskModal.tsx
  jinear-app/src/components/modal/taskDetailModals/taskAssigneeChangeModal/teamMemberList/TeamMemberList.tsx
  jinear-app/src/components/modal/taskDetailModals/taskTopicChangeModal/topicList/TopicList.tsx
  jinear-app/src/components/modal/taskDetailModals/workflowChangeStatus/teamWorkflowStatusList/TeamWorkflowStatusList.tsx
  jinear-app/src/components/modal/taskOverviewModal/TaskOverviewModal.tsx
  jinear-app/src/components/modal/taskTaskBoardModal/TaskTaskBoardModal.tsx
  jinear-app/src/components/modal/teamMemberPickerModal/TeamMemberPickerModal.tsx
  jinear-app/src/components/modal/teamPickerModal/TeamPickerModal.tsx
  jinear-app/src/components/modal/teamWorkflowStatusModal/TeamWorkflowStatusModal.tsx
  jinear-app/src/components/modal/topicPickerModal/TopicPickerModal.tsx
  jinear-app/src/components/modal/workspaceMemberPickerModal/WorkspaceMemberPickerModal.tsx
  jinear-app/src/components/paginatedList/PaginatedList.tsx
  jinear-app/src/components/sideMenu/basicFeedList/BasicFeedList.tsx
  jinear-app/src/components/sideMenu/basicTeamList/basicTeamMenu/boardsMenu/BoardsMenu.tsx
  jinear-app/src/components/sideMenu/basicTeamList/basicTeamMenu/topicsMenu/TopicsMenu.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskSubscribeButton/TaskSubscribeButton.tsx
  jinear-app/src/components/taskDetail/taskChecklistContainer/taskChecklist/TaskChecklist.tsx
  jinear-app/src/components/taskDetail/taskFeedItemList/TaskFeedItemList.tsx
  jinear-app/src/components/taskDetail/taskMediaList/TaskMediaList.tsx
  jinear-app/src/components/taskLists/baseTaskList/BaseTaskList.tsx
  jinear-app/src/components/taskLists/multiViewTaskList/MultiViewTaskList.tsx
  jinear-app/src/components/teamMembersScreen/teamMemberList/TeamMemberList.tsx
  jinear-app/src/components/teamNumberCards/TeamNumbers.tsx
  jinear-app/src/components/teamPickerButton/TeamPickerButton.tsx
  jinear-app/src/components/teamWorkflowStatusBoard/TeamWorkflowStatusBoard.tsx
  jinear-app/src/components/workspaceMembersScreen/activeInvitationList/ActiveInvitationList.tsx
  jinear-app/src/components/workspaceMembersScreen/memberList/MemberList.tsx
  jinear-app/src/components/workspaceSubscriptionInfo/WorkspaceSubscriptionInfo.tsx
  jinear-app/src/pages/workspace/inbox/page.tsx
  jinear-app/src/pages/workspace/task/task-detail/page.tsx
  jinear-app/src/pages/workspace/tasks/team-username/task-boards/taskBoard-id/page.tsx
  jinear-app/src/pages/workspace/tasks/team-username/tasks/page.tsx
  jinear-app/src/pages/workspace/tasks/team-username/topic/list/page.tsx
  jinear-app/src/pages/workspace/tasks/teams/page.tsx
Due: none

feature/jin-548: Adjust prefetch start delays and simplify navigation effect in OfflinePrefetchManager and page components
  jinear-app/src/components/offlinePrefetchManager/OfflinePrefetchManager.tsx
  jinear-app/src/pages/workspace/workspace-home/page.tsx
Due: none

feature/jin-548: Integrate team membership retrieval in OfflinePrefetchManager for enhanced offline data handling
  jinear-app/src/components/offlinePrefetchManager/OfflinePrefetchManager.tsx
Due: none

feature/jin-548: Reduce prefetch start delay for high-tier devices in OfflinePrefetchManager
  jinear-app/src/components/offlinePrefetchManager/OfflinePrefetchManager.tsx
Due: none

feature/jin-548: Add configuration for Sign In with Apple and enable conditional loading
  docs/behind-traefik/jinear/docker-compose.yaml
  docs/manual-setup/.config/application.properties
  docs/manual-setup/docker-compose.yaml
  jinear-core/src/main/java/co/jinear/core/config/client/apple/SignInWithAppleConfig.java
  jinear-core/src/main/java/co/jinear/core/config/properties/SignInWithAppleProperties.java
  jinear-core/src/main/java/co/jinear/core/service/auth/AppleAuthenticationStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/client/apple/SignInWithAppleCallerService.java
  jinear-installation-scripts/.env.template
  jinear-installation-scripts/install.sh
  jinear-installation-scripts/templates/application.properties.template
  jinear-installation-scripts/templates/docker-compose.yaml
Due: core:build, core:deploy

feature/jin-548: Update editWorkspaceNameButton position to use !important for better styling control
  jinear-app/src/components/workspaceSettingsScreen/workspaceInfoTab/WorkspaceInfoTab.module.scss
Due: none

feature/jin-551: Update service worker registration and Firebase initialization for improved performance and reliability
  jinear-app/Caddyfile
  jinear-app/src/sw.ts
  jinear-app/vite.config.ts
Due: none

feature/jin-551: Implement task FTS refresh mechanism and update related services for improved data consistency
  jinear-core/src/main/java/co/jinear/core/manager/scheduledjob/ScheduledJobManager.java
  jinear-core/src/main/java/co/jinear/core/manager/task/TaskMediaManager.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/lock/LockSourceType.java
  jinear-core/src/main/java/co/jinear/core/repository/TaskFtsSearchRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/cache/taskfts/MockTaskFtsDirtyStateRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/cache/taskfts/RedisTaskFtsDirtyStateRepository.java
  jinear-core/src/main/java/co/jinear/core/repository/cache/taskfts/TaskFtsDirtyStateRepository.java
  jinear-core/src/main/java/co/jinear/core/service/task/TaskFtsRefreshService.java
  jinear-core/src/main/java/co/jinear/core/service/task/TaskInitializeService.java
  jinear-core/src/main/java/co/jinear/core/service/task/TaskSearchService.java
  jinear-core/src/main/java/co/jinear/core/service/task/TaskUpdateService.java
  jinear-core/src/main/java/co/jinear/core/service/task/comment/CommentOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/team/TeamUpdateService.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.7.xml
Due: core:build, core:deploy

feature/jin-551: Simplify team task visibility conditions in FTS search queries for improved readability
  jinear-core/src/main/java/co/jinear/core/repository/TaskFtsSearchRepository.java
Due: core:build, core:deploy

feature/jin-551: Add offline boot state handling with retry mechanism and improve account API query timeout
  jinear-app/src/locales/strings.ts
  jinear-app/src/main.tsx
  jinear-app/src/pages/app/AppPage.module.css
  jinear-app/src/pages/app/AppPage.tsx
  jinear-app/src/store/api/accountApi.ts
Due: none

feature/jin-551: Update team files terminology and improve locale detection logic
  jinear-app/src/locales/strings.ts
  jinear-app/src/locales/useTranslation.ts
Due: none

feature/jin-552: Add CRDT support for rich text synchronization with new database schema and request/response models
  jinear-core/src/main/java/co/jinear/core/controller/richtext/RichTextSyncController.java
  jinear-core/src/main/java/co/jinear/core/converter/richtext/RichTextFormatConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/richtext/RichTextSyncManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/richtext/RichTextAppendDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/richtext/RichTextDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/richtext/RichTextStateDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/richtext/RichTextUpdatesDto.java
  jinear-core/src/main/java/co/jinear/core/model/entity/richtext/RichText.java
  jinear-core/src/main/java/co/jinear/core/model/entity/richtext/RichTextUpdate.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/lock/LockSourceType.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/richtext/RichTextFormat.java
  jinear-core/src/main/java/co/jinear/core/model/enumtype/richtext/RichTextSourceStack.java
  jinear-core/src/main/java/co/jinear/core/model/request/richtext/AppendRichTextUpdateRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/richtext/SeedRichTextRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/richtext/SnapshotRichTextRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/task/TaskInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/richtext/RichTextAppendResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/richtext/RichTextStateResponse.java
  jinear-core/src/main/java/co/jinear/core/model/response/richtext/RichTextUpdatesResponse.java
  jinear-core/src/main/java/co/jinear/core/model/vo/richtext/InitializeRichTextVo.java
  jinear-core/src/main/java/co/jinear/core/model/vo/task/TaskInitializeVo.java
  jinear-core/src/main/java/co/jinear/core/repository/richtext/RichTextUpdateRepository.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/RichTextInitializeService.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/RichTextSyncAuthResolver.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/RichTextSyncAuthStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/RichTextSyncLockService.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/RichTextSyncOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/RichTextSyncService.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/TaskDetailRichTextSyncAuthStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/task/TaskInitializeService.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.8.xml
Due: core:build, core:deploy

feature/jin-552: rolls back task detail crdt
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/model/request/task/TaskInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/vo/task/TaskInitializeVo.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/TaskDetailRichTextSyncAuthStrategy.java
  jinear-core/src/main/java/co/jinear/core/service/task/TaskInitializeService.java
Due: core:build, core:deploy

feature/jin-552: Implement CRDT-based collaborative rich text editor with synchronization support
  jinear-app/package.json
  jinear-app/src/components/tiptap/CollaborativeRichText.tsx
  jinear-app/src/components/tiptap/Tiptap.tsx
  jinear-app/src/components/tiptap/crdt/base64.ts
  jinear-app/src/components/tiptap/crdt/constants.ts
  jinear-app/src/components/tiptap/crdt/seedLegacy.ts
  jinear-app/src/components/tiptap/crdt/useRichTextCrdt.ts
  jinear-app/src/components/tiptap/editorExtensions.ts
  jinear-app/src/model/be/jinear-core.ts
  jinear-app/src/store/api/richTextSyncApi.ts
  jinear-app/yarn.lock
Due: none

feature/jin-552: Add APIs for notebook and note management, including listing, initializing, updating, and deleting operations
  jinear-app/src/model/be/jinear-core.ts
  jinear-app/src/store/api/api.ts
  jinear-app/src/store/api/noteListingApi.ts
  jinear-app/src/store/api/noteOperationApi.ts
  jinear-app/src/store/api/noteTagApi.ts
  jinear-app/src/store/api/notebookListingApi.ts
  jinear-app/src/store/api/notebookMemberApi.ts
  jinear-app/src/store/api/notebookOperationApi.ts
  jinear-core/.run/cp core to web.run.xml
  jinear-core/jinear-core.ts
Due: core:build, core:deploy

feature/jin-552: Update styles for mobile menu button and adjust z-index for layout components
  jinear-app/src/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.module.scss
  jinear-app/src/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.tsx
  jinear-app/src/pages/workspace/workspace-layout/layout.module.scss
Due: none

feature/jin-552: Add bottom sheet support to modal components and update styles
  jinear-app/src/components/modal/baseModal/BaseModal.tsx
  jinear-app/src/components/modal/baseModal/style.module.css
  jinear-app/src/components/modal/modal/Modal.tsx
  jinear-app/src/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.tsx
Due: none

feature/jin-552: Enhance modal and side menu components with bottom sheet support and responsive design
  jinear-app/src/components/modal/baseModal/BaseModal.tsx
  jinear-app/src/components/modal/baseModal/style.module.css
  jinear-app/src/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.module.scss
  jinear-app/src/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.tsx
  jinear-app/src/hooks/useWindowSize.ts
  jinear-app/src/locales/strings.ts
  jinear-app/src/pages/workspace/calendar/calendar-layout/layout.tsx
  jinear-app/src/pages/workspace/files/files-layout/layout.tsx
  jinear-app/src/pages/workspace/tasks/tasks-layout/layout.tsx
Due: none

feature/jin-552: Update z-index values and enhance modal styles for improved layout and responsiveness
  jinear-app/src/components/modal/modal/Modal.module.css
  jinear-app/src/components/secondLevelSideMenuV2/SecondLevelSideMenuV2.module.scss
  jinear-app/src/pages/workspace/workspace-layout/layout.module.scss
Due: none

feature/jin-552: Update button variants to outline for consistency and improve UI clarity
  jinear-app/src/components/assigneeCell/AssigneeCell.tsx
  jinear-app/src/components/button/index.module.css
  jinear-app/src/components/button/index.tsx
  jinear-app/src/components/calendar/common/week/Week.module.scss
  jinear-app/src/components/dropZone/DropZone.tsx
  jinear-app/src/components/modal/baseModal/BaseModal.tsx
  jinear-app/src/components/modal/modal/Modal.tsx
  jinear-app/src/components/modal/taskOverviewModal/TaskOverviewModal.module.scss
  jinear-app/src/components/modal/taskOverviewModal/TaskOverviewModal.tsx
  jinear-app/src/components/taskDetail/TaskDetail.module.css
  jinear-app/src/components/taskDetail/TaskDetail.module.scss
  jinear-app/src/components/taskDetail/TaskDetail.tsx
  jinear-app/src/components/taskDetail/taskActionBar/TaskActionBar.module.css
  jinear-app/src/components/taskDetail/taskActionBar/TaskActionBar.tsx
  jinear-app/src/components/taskDetail/taskActionBar/addSubtaskButton/AddSubtaskButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/changeAssigneeButton/ChangeAssigneeButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/changeTopicButton/ChangeTopicButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/changeWorkflowStatusButton/ChangeWorkflowStatusButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/remindersButton/RemindersButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskAddChecklistButton/TaskAddChecklistButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskAssignedDateButton/TaskAssignedDateButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskBoardsButton/TaskBoardsButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskDueDateButton/TaskDueDateButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskSubscribeButton/TaskSubscribeButton.tsx
  jinear-app/src/components/taskDetail/taskActionBar/taskTagNoButton/TaskTagNoButton.tsx
  jinear-app/src/components/taskDetail/taskBreadcrumb/TaskBreadcrumb.module.css
  jinear-app/src/components/taskDetail/taskBreadcrumb/TaskBreadcrumb.tsx
  jinear-app/src/components/taskDetail/taskChecklistContainer/TaskChecklistContainer.module.css
  jinear-app/src/components/taskDetail/taskChecklistContainer/TaskChecklistContainer.tsx
  jinear-app/src/components/taskDetail/taskComments/TaskComments.tsx
  jinear-app/src/components/taskDetail/taskDescription/TaskDescription.module.css
  jinear-app/src/components/taskDetail/taskDescription/TaskDescription.tsx
  jinear-app/src/components/taskDetail/taskMediaList/TaskMediaList.tsx
  jinear-app/src/components/taskDetail/taskOwnerInfo/TaskOwnerInfo.module.css
  jinear-app/src/components/taskDetail/taskSubtaskList/TaskSubtaskList.module.scss
  jinear-app/src/components/taskDetail/taskSubtaskList/TaskSubtaskList.tsx
  jinear-app/src/components/taskDetail/taskSubtaskList/taskRelationRow/TaskRelationRow.tsx
Due: none

feature/jin-552: Remove flex property from taskBody for layout adjustments
  jinear-app/src/components/taskDetail/TaskDetail.module.scss
Due: none

feature/jin-552: Add DTOs and request/response models for note and notebook management
  jinear-app/src/components/profile-screen/accountDeleteButton/AccountDeleteButton.tsx
  jinear-app/src/components/profileScreen/accountDeleteButton/AccountDeleteButton.tsx
  jinear-app/src/components/profileScreen/personalInfoTab/PersonalInfoTab.tsx
  jinear-app/src/store/index.ts
  jinear-core/src/main/java/co/jinear/core/manager/task/TaskMediaManager.java
  jinear-core/src/main/java/co/jinear/core/repository/TaskMediaRepository.java
  jinear-core/src/main/java/co/jinear/core/service/task/media/TaskMediaRetrieveService.java
Due: core:build, core:deploy

feature/jin-552: Implement notes layout and integrate notebook functionality in the sidebar
  jinear-app/src/App.tsx
  jinear-app/src/components/filesSectionSideMenu/teamTaskFiles/TeamTaskFiles.module.css
  jinear-app/src/components/mainFeaturesSideMenu/MainFeaturesSideMenu.tsx
  jinear-app/src/components/mainFeaturesSideMenu/inboxButton/InboxButton.tsx
  jinear-app/src/components/notesSectionSideMenu/NotesSectionSideMenu.module.css
  jinear-app/src/components/notesSectionSideMenu/NotesSectionSideMenu.tsx
  jinear-app/src/components/notesSectionSideMenu/notebookList/NotebookList.module.css
  jinear-app/src/components/notesSectionSideMenu/notebookList/NotebookList.tsx
  jinear-app/src/components/notesSectionSideMenu/notebookList/notebook/Notebook.module.css
  jinear-app/src/components/notesSectionSideMenu/notebookList/notebook/Notebook.tsx
  jinear-app/src/components/notesSectionSideMenu/notesActionButtons/NotesActionButtons.module.css
  jinear-app/src/components/notesSectionSideMenu/notesActionButtons/NotesActionButtons.tsx
  jinear-app/src/components/sideMenu/basicTeamList/BasicTeamList.module.css
  jinear-app/src/components/sideMenu/workspaceMoreActionsButton/WorkspaceMoreActionsButton.tsx
  jinear-app/src/components/workspaceChangeButton/WorkspaceChangeButton.tsx
  jinear-app/src/components/workspaceLayoutHeader/WorkspaceLayoutHeader.tsx
  jinear-app/src/components/workspaceLayoutHeader/inboxButton/InboxButton.module.css
  jinear-app/src/components/workspaceLayoutHeader/inboxButton/InboxButton.tsx
  jinear-app/src/locales/strings.ts
  jinear-app/src/pages/workspace/notes/notes-layout/layout.module.scss
  jinear-app/src/pages/workspace/notes/notes-layout/layout.tsx
  jinear-core/src/main/java/co/jinear/core/model/enumtype/notebook/NotebookVisibilityType.java
  jinear-core/src/main/java/co/jinear/core/model/request/notebook/NotebookInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/repository/notebook/NotebookRepository.java
  jinear-core/src/main/java/co/jinear/core/service/note/notebook/NotebookRetrieveService.java
  jinear-core/src/main/java/co/jinear/core/service/workspace/WorkspaceInitializeService.java
  jinear-core/src/main/java/co/jinear/core/validator/notebook/NotebookAccessValidator.java
Due: core:build, core:deploy

feature/jin-552: Add new note page and notebook initialization modal with associated styles and functionality
  jinear-app/src/App.tsx
  jinear-app/src/components/form/notebookInitializeForm/NotebookInitializeForm.module.css
  jinear-app/src/components/form/notebookInitializeForm/NotebookInitializeForm.tsx
  jinear-app/src/components/modal-provider/WorkspaceModalProvider.tsx
  jinear-app/src/components/modal/notebookInitializeModal/NotebookInitializeModal.module.css
  jinear-app/src/components/modal/notebookInitializeModal/NotebookInitializeModal.tsx
  jinear-app/src/components/note-editor/NoteEditor.module.css
  jinear-app/src/components/note-editor/NoteEditor.tsx
  jinear-app/src/components/note-editor/note-action-bar/NoteActionBar.module.css
  jinear-app/src/components/note-editor/note-action-bar/NoteActionBar.tsx
  jinear-app/src/components/note-editor/note-editor-body/NoteEditorBody.module.css
  jinear-app/src/components/note-editor/note-editor-body/NoteEditorBody.tsx
  jinear-app/src/components/note-editor/note-header/NoteHeader.module.css
  jinear-app/src/components/note-editor/note-header/NoteHeader.tsx
  jinear-app/src/components/notesSectionSideMenu/notebookList/NotebookList.tsx
  jinear-app/src/components/notesSectionSideMenu/notebookList/notebook/Notebook.module.css
  jinear-app/src/components/notesSectionSideMenu/notebookList/notebook/Notebook.tsx
  jinear-app/src/components/notesSectionSideMenu/notebookList/notebook/noteHierarchy/NoteHierarchyList.tsx
  jinear-app/src/components/notesSectionSideMenu/notebookList/notebook/noteHierarchy/NotebookNoteList.module.css
  jinear-app/src/components/notesSectionSideMenu/notesActionButtons/NotesActionButtons.tsx
  jinear-app/src/components/sideMenu/basicTeamList/BasicTeamList.module.css
  jinear-app/src/locales/strings.ts
  jinear-app/src/model/app/store/modal/modalState.ts
  jinear-app/src/model/be/jinear-core.ts
  jinear-app/src/pages/workspace/notes/new-note/index.module.css
  jinear-app/src/pages/workspace/notes/new-note/index.tsx
  jinear-app/src/store/api/noteListingApi.ts
  jinear-app/src/store/slice/modalSlice.ts
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/controller/note/NoteListingController.java
  jinear-core/src/main/java/co/jinear/core/manager/note/NoteListingManager.java
  jinear-core/src/main/java/co/jinear/core/service/note/NoteSearchService.java
Due: core:build, core:deploy

feature/jin-552: Refactor note operations to include workspace context and enhance rich text handling
  jinear-core/src/main/java/co/jinear/core/controller/note/NoteOperationController.java
  jinear-core/src/main/java/co/jinear/core/converter/note/NoteDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/note/NoteOperationManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/note/NoteDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/richtext/RichTextDto.java
  jinear-core/src/main/java/co/jinear/core/model/entity/richtext/RichText.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/RichTextSyncService.java
  jinear-core/src/main/resources/db/changelog/changes/changelog-v1.9.xml
Due: core:build, core:deploy

feature/jin-552: Add note editor context and enhance note handling with rich text support
  jinear-app/eslint.config.js
  jinear-app/src/components/note-editor/NoteEditor.tsx
  jinear-app/src/components/note-editor/note-action-bar/NoteActionBar.tsx
  jinear-app/src/components/note-editor/note-editor-body/NoteEditorBody.tsx
  jinear-app/src/components/note-editor/note-editor-context.ts
  jinear-app/src/components/note-editor/note-header/NoteHeader.tsx
  jinear-app/src/components/tiptap/crdt/encodeState.ts
  jinear-app/src/components/tiptap/crdt/useRichTextCrdt.ts
  jinear-app/src/locales/strings.ts
  jinear-app/src/model/be/jinear-core.ts
  jinear-core/jinear-core.ts
  jinear-core/src/main/java/co/jinear/core/converter/note/NoteDtoConverter.java
  jinear-core/src/main/java/co/jinear/core/manager/note/NoteListingManager.java
  jinear-core/src/main/java/co/jinear/core/model/dto/note/NoteHierarchyDto.java
  jinear-core/src/main/java/co/jinear/core/model/dto/note/PathAwareNoteDto.java
Due: core:build, core:deploy

feature/jin-552: Add publish functionality for notes and enhance validation for notebook access
  jinear-core/src/main/java/co/jinear/core/controller/note/NoteOperationController.java
  jinear-core/src/main/java/co/jinear/core/manager/note/NoteOperationManager.java
  jinear-core/src/main/java/co/jinear/core/model/entity/note/Note.java
  jinear-core/src/main/java/co/jinear/core/model/request/note/NoteInitializeRequest.java
  jinear-core/src/main/java/co/jinear/core/model/request/note/NoteUpdateRequest.java
  jinear-core/src/main/java/co/jinear/core/model/response/note/NoteInitializeResponse.java
  jinear-core/src/main/java/co/jinear/core/model/vo/note/NoteUpdateVo.java
  jinear-core/src/main/java/co/jinear/core/service/note/NoteOperationService.java
  jinear-core/src/main/java/co/jinear/core/service/richtext/sync/NoteRichTextSyncAuthStrategy.java
  jinear-core/src/main/resources/i18n/messages_en.properties
  jinear-core/src/main/resources/i18n/messages_tr.properties
Due: core:build, core:deploy
